In [2]:
import numpy as np
import pandas as pd

In [3]:
matches = pd.read_csv('../datasets/ipl-matches.csv')

In [3]:
balls = pd.read_csv('../datasets/IPL_Ball_by_Ball_2008_2022.csv')

In [4]:
ball_with_match = balls.merge(matches, on='ID', how='inner').copy()

In [5]:
ball_with_match.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [6]:
ball_with_match.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'City', 'Date', 'Season',
       'MatchNumber', 'Team1', 'Team2', 'Venue', 'TossWinner', 'TossDecision',
       'SuperOver', 'WinningTeam', 'WonBy', 'Margin', 'method',
       'Player_of_Match', 'Team1Players', 'Team2Players', 'Umpire1',
       'Umpire2'],
      dtype='object')

In [7]:
ball_with_match.isnull().sum()

ID                        0
innings                   0
overs                     0
ballnumber                0
batter                    0
bowler                    0
non-striker               0
extra_type           213905
batsman_run               0
extras_run                0
total_run                 0
non_boundary              0
isWicketDelivery          0
player_out           214803
kind                 214803
fielders_involved    217966
BattingTeam               0
City                  12397
Date                      0
Season                    0
MatchNumber               0
Team1                     0
Team2                     0
Venue                     0
TossWinner                0
TossDecision              0
SuperOver               372
WinningTeam             372
WonBy                     0
Margin                 4006
method               222746
Player_of_Match         372
Team1Players              0
Team2Players              0
Umpire1                   0
Umpire2                   0
dtype: int64

In [8]:
ball_with_match.dtypes

ID                     int64
innings                int64
overs                  int64
ballnumber             int64
batter                object
bowler                object
non-striker           object
extra_type            object
batsman_run            int64
extras_run             int64
total_run              int64
non_boundary           int64
isWicketDelivery       int64
player_out            object
kind                  object
fielders_involved     object
BattingTeam           object
City                  object
Date                  object
Season                object
MatchNumber           object
Team1                 object
Team2                 object
Venue                 object
TossWinner            object
TossDecision          object
SuperOver             object
WinningTeam           object
WonBy                 object
Margin               float64
method                object
Player_of_Match       object
Team1Players          object
Team2Players          object
Umpire1               object
Umpire2               object
dtype: object

In [9]:
ball_with_match.describe()

,ID,innings,overs,ballnumber,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,Margin
count,2.259540e+05,225954.000000,225954.000000,225954.000000,225954.000000,225954.000000,225954.00000,225954.000000,225954.000000,221948.000000
mean,8.320470e+05,1.483868,9.185679,3.619750,1.243523,0.066907,1.31043,0.000093,0.049351,17.076937
std,3.379542e+05,0.503104,5.681797,1.810633,1.618166,0.341470,1.60605,0.009640,0.216600,21.457319
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000
25%,5.012620e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.00000,0.000000,0.000000,6.000000
50%,8.297370e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.00000,0.000000,0.000000,8.000000
75%,1.178395e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.00000,0.000000,0.000000,19.000000
max,1.312200e+06,6.000000,19.000000,10.000000,6.000000,7.000000,7.00000,1.000000,1.000000,146.000000

# Data Cleaning

## IPL_Ball_by_Ball_2008_2022 dataset

### innings

In [10]:
ball_with_match['innings'].value_counts()

1    116883
2    108910
3        77
4        72
5         8
6         4
Name: innings, dtype: int64

In [11]:
ball_with_match[ball_with_match['innings'] == 6]

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
40835,1216517,6,0,1,CH Gayle,TA Boult,MA Agarwal,NaN,6,0,...,Y,Kings XI Punjab,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel
40836,1216517,6,0,2,CH Gayle,TA Boult,MA Agarwal,NaN,1,0,...,Y,Kings XI Punjab,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel
40837,1216517,6,0,3,MA Agarwal,TA Boult,CH Gayle,NaN,4,0,...,Y,Kings XI Punjab,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel
40838,1216517,6,0,4,MA Agarwal,TA Boult,CH Gayle,NaN,4,0,...,Y,Kings XI Punjab,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel

### overs

In [12]:
ball_with_match['overs'].value_counts()

0     12085
1     11935
2     11803
3     11773
4     11766
5     11720
6     11671
7     11651
8     11608
9     11578
10    11507
11    11480
12    11452
13    11355
14    11259
15    11093
16    10961
17    10650
18    10001
19     8606
Name: overs, dtype: int64

### ballnumber

In [13]:
ball_with_match['ballnumber'].value_counts()

1     36599
2     36507
3     36413
4     36322
5     36201
6     36083
7      6585
8      1055
9       171
10       18
Name: ballnumber, dtype: int64

### batter

In [14]:
ball_with_match['batter'].value_counts()

V Kohli           5266
S Dhawan          5083
RG Sharma         4632
DA Warner         4313
SK Raina          4177
                  ...
S Lamichhane         1
JL Denly             1
NJ Rimmington        1
Y Prithvi Raj        1
V Pratap Singh       1
Name: batter, Length: 605, dtype: int64

### bowler

In [15]:
ball_with_match['bowler'].value_counts()

R Ashwin           4024
SP Narine          3516
Harbhajan Singh    3496
B Kumar            3384
A Mishra           3317
                   ...
SN Khan               2
SPD Smith             2
DA Warner             2
AC Gilchrist          1
YBK Jaiswal           1
Name: bowler, Length: 472, dtype: int64

### non-striker

In [16]:
ball_with_match['non-striker'].value_counts()

S Dhawan            5526
V Kohli             5150
RG Sharma           4629
SK Raina            4309
DA Warner           4108
                    ...
TP Sudhindra           1
PM Sarvesh Kumar       1
S Randiv               1
BW Hilfenhaus          1
M Theekshana           1
Name: non-striker, Length: 595, dtype: int64

### extra_type

In [17]:
ball_with_match['extra_type'].value_counts()

wides      7025
legbyes    3531
noballs     908
byes        583
penalty       2
Name: extra_type, dtype: int64

### batsman_run

In [18]:
ball_with_match['batsman_run'].value_counts()

0    90778
1    83928
4    25500
2    14313
6    10666
3      708
5       61
Name: batsman_run, dtype: int64

### extras_run

In [19]:
ball_with_match['extras_run'].value_counts()

0    213905
1     10760
2       499
4       436
5       275
3        78
7         1
Name: extras_run, dtype: int64

In [20]:
ball_with_match[ball_with_match['extras_run'] == 7]

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
127783,729309,2,4,2,M Vijay,SL Malinga,Q de Kock,penalty,0,7,...,N,Delhi Daredevils,Wickets,6.0,NaN,M Vijay,"['Q de Kock', 'M Vijay', 'JP Duminy', 'KP Piet...","['RG Sharma', 'AP Tare', 'CJ Anderson', 'AT Ra...",Aleem Dar,VA Kulkarni

### total_run

In [21]:
ball_with_match['total_run'].value_counts()

1    93861
0    79253
4    25828
2    15065
6    10603
3      836
5      444
7       64
Name: total_run, dtype: int64

### non_boundary

In [22]:
ball_with_match['non_boundary'].value_counts()

0    225933
1        21
Name: non_boundary, dtype: int64

In [23]:
ball_with_match[ball_with_match['non_boundary'] == 1]

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
4632,1304101,1,11,2,DP Conway,MR Marsh,S Dube,NaN,4,0,...,N,Chennai Super Kings,Runs,91.0,NaN,DP Conway,"['RD Gaikwad', 'DP Conway', 'S Dube', 'AT Rayu...","['DA Warner', 'KS Bharat', 'MR Marsh', 'RR Pan...",Nitin Menon,R Pandit
10604,1304076,1,2,6,JC Buttler,UT Yadav,D Padikkal,NaN,4,0,...,N,Rajasthan Royals,Runs,7.0,NaN,YS Chahal,"['JC Buttler', 'D Padikkal', 'SV Samson', 'SO ...","['AJ Finch', 'SP Narine', 'SS Iyer', 'N Rana',...",GR Sadashiv Iyer,VK Sharma
13067,1304066,1,0,3,D Padikkal,PVD Chameera,JC Buttler,NaN,4,0,...,N,Rajasthan Royals,Runs,3.0,NaN,YS Chahal,"['JC Buttler', 'D Padikkal', 'SV Samson', 'HE ...","['KL Rahul', 'Q de Kock', 'K Gowtham', 'JO Hol...",AK Chaudhary,Tapan Sharma
30579,1254065,2,11,3,F du Plessis,JA Richardson,MM Ali,NaN,4,0,...,N,Chennai Super Kings,Wickets,6.0,NaN,DL Chahar,"['KL Rahul', 'MA Agarwal', 'CH Gayle', 'DJ Hoo...","['RD Gaikwad', 'F du Plessis', 'MM Ali', 'SK R...",AK Chaudhary,AY Dandekar
32612,1237180,1,6,4,S Dhawan,Rashid Khan,MP Stoinis,NaN,6,0,...,N,Delhi Capitals,Runs,17.0,NaN,MP Stoinis,"['MP Stoinis', 'S Dhawan', 'SS Iyer', 'SO Hetm...","['PK Garg', 'DA Warner', 'MK Pandey', 'KS Will...",PR Reiffel,S Ravi
35356,1216539,1,15,1,RR Pant,SM Curran,SS Iyer,NaN,4,0,...,N,Delhi Capitals,Runs,44.0,NaN,PP Shaw,"['PP Shaw', 'S Dhawan', 'RR Pant', 'SS Iyer', ...","['M Vijay', 'SR Watson', 'F du Plessis', 'RD G...",KN Ananthapadmanabhan,RK Illingworth
48304,1178430,2,13,2,N Pooran,DJ Bravo,Mandeep Singh,NaN,4,0,...,N,Kings XI Punjab,Wickets,6.0,NaN,KL Rahul,"['F du Plessis', 'SR Watson', 'SK Raina', 'MS ...","['KL Rahul', 'CH Gayle', 'N Pooran', 'MA Agarw...",C Shamshuddin,KN Ananthapadmanabhan
70980,1136580,2,9,2,KS Williamson,SR Watson,Shakib Al Hasan,NaN,4,0,...,N,Chennai Super Kings,Runs,4.0,NaN,AT Rayudu,"['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...","['RK Bhui', 'KS Williamson', 'MK Pandey', 'DJ ...",AK Chaudhary,VA Kulkarni
86889,1082601,1,18,6,MM Sharma,TA Boult,VR Aaron,NaN,4,0,...,N,Kolkata Knight Riders,Wickets,8.0,NaN,SP Narine,"['SP Narine', 'G Gambhir', 'RV Uthappa', 'MK P...","['HM Amla', 'M Vohra', 'MP Stoinis', 'GJ Maxwe...",A Deshmukh,NJ Llong
88601,1082594,2,12,4,GJ Maxwell,RD Chahar,DA Miller,NaN,4,0,...,N,Kings XI Punjab,Wickets,6.0,NaN,GJ Maxwell,"['HM Amla', 'M Vohra', 'WP Saha', 'AR Patel', ...","['AM Rahane', 'MA Agarwal', 'SPD Smith', 'BA S...",AK Chaudhary,C Shamshuddin
93020,980987,1,3,1,V Kohli,DS Kulkarni,CH Gayle,NaN,4,0,...,N,Royal Challengers Bangalore,Runs,144.0,NaN,AB de Villiers,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'SR ...","['DR Smith', 'BB McCullum', 'RA Jadeja', 'KD K...",AY Dandekar,VK Sharma
102495,980909,2,9,7,RG Sharma,Kuldeep Yadav,HH Pandya,NaN,6,0,...,N,Mumbai Indians,Wickets,6.0,NaN,RG Sharma,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'AD R...","['RG Sharma', 'PA Patel', 'HH Pandya', 'MJ McC...",Nitin Menon,S Ravi
134375,598061,2,10,3,YK Pathan,Yuvraj Singh,RN ten Doeschate,NaN,6,0,...,N,Pune Warriors,Runs,7.0,NaN,MK Pandey,"['G Gambhir', 'MS Bisla', 'JH Kallis', 'YK Pat...","['RV Uthappa', 'AJ Finch', 'MK Pandey', 'Yuvra...",NJ Llong,K Srinath
143109,598024,1,4,2,SR Tendulkar,IK Pathan,KD Karthik,NaN,4,0,...,N,Delhi Daredevils,Wickets,9.0,NaN,V Sehwag,"['DPMD Jayawardene', 'V Sehwag', 'DA Warner', ...","['DR Smith', 'SR Tendulkar', 'KD Karthik', 'RG...",HDPK Dharmasena,S Ravi
150970,548376,2,7,1,V Kohli,A Mishra,AB de Villiers,NaN,6,0,...,N,Deccan Chargers,Runs,9.0,NaN,DW Steyn,"['S Dhawan', 'PA Reddy', 'KC Sangakkara', 'CL ...","['CH Gayle', 'TM Dilshan', 'V Kohli', 'SS Tiwa...",S Ravi,SJA Taufel
166924,548308,2,11,3,JEC Franklin,B Kumar,SA Yadav,NaN,6,0,...,N,Pune Warriors,Runs,28.0,NaN,SPD Smith,"['RE Levi', 'AT Rayudu', 'RG Sharma', 'JEC Fra...","['MK Pandey', 'SC Ganguly', 'WD Parnell', 'RV ...",AK Chaudhary,SJA Taufel
170455,501257,1,2,3,PC Valthaty,IK Pathan,AC Gilchrist,NaN,4,0,...,N,Kings XI Punjab,Runs,29.0,NaN,PP Chawla,"['PC Valthaty', 'AC Gilchrist', 'SE Marsh', 'K...","['NV Ojha', 'DA Warner', 'Y Venugopal Rao', 'S...",Asad Rauf,SL Shastri
171748,501252,2,5,1,CH Gayle,J Botha,TM Dilshan,NaN,4,0,...,N,Royal Challengers Bangalore,Wickets,9.0,NaN,S Aravind,"['SR Watson', 'R Dravid', 'AM Rahane', 'J Both...","['CH Gayle', 'TM Dilshan', 'V Kohli', 'AB de V...",HDPK Dharmasena,K Hariharan
178137,501225,2,4,4,R Dravid,R Vinay Kumar,SR Watson,NaN,4,0,...,N,Rajasthan Royals,Wickets,8.0,NaN,SK Warne,"['SR Watson', 'R Dravid', 'J Botha', 'LRPL Tay...","['DPMD Jayawardene', 'VVS Laxman', 'PA Patel',...",BR Doctrove,SK Tarapore
202171,392226,2,1,3,SM Katich,PJ Sangwan,S Sohal,NaN,4,0,...,N,Kings XI Punjab,Wickets,6.0,NaN,B Lee,"['G Gambhir', 'V Sehwag', 'TM Dilshan', 'AB de...","['S Sohal', 'SM Katich', 'LA Pomersbach', 'Yuv...",HDPK Dharmasena,IL Howell
218320,336014,1,19,6,LR Shukla,RP Singh,DJ Hussey,NaN,6,0,...,N,Kolkata Knight Riders,Runs,23.0,NaN,SC Ganguly,"['AC Gilchrist', 'HH Gibbs', 'DB Ravi Teja', '...","['Salman Butt', 'A Chopra', 'SC Ganguly', 'DJ ...",IL Howell,AM Saheba

### isWicketDelivery

In [24]:
ball_with_match['isWicketDelivery'].value_counts()

0    214803
1     11151
Name: isWicketDelivery, dtype: int64

### player_out

In [25]:
ball_with_match['player_out'].value_counts()

RG Sharma                  194
V Kohli                    183
RV Uthappa                 180
S Dhawan                   179
SK Raina                   171
                          ...
S Lamichhane                 1
P Ray Barman                 1
JPR Scantlebury-Searles      1
ND Doshi                     1
AA Noffke                    1
Name: player_out, Length: 573, dtype: int64

### kind

In [26]:
ball_with_match['kind'].value_counts()

caught                   6837
bowled                   1944
run out                  1007
lbw                       685
stumped                   325
caught and bowled         323
hit wicket                 14
retired hurt               13
obstructing the field       2
retired out                 1
Name: kind, dtype: int64

### fielders_involved

In [27]:
ball_with_match['fielders_involved'].value_counts()

MS Dhoni          196
KD Karthik        182
AB de Villiers    141
RV Uthappa        133
SK Raina          119
                 ...
KAJ Roach           1
GHS Garton          1
AA Bilakhia         1
GD Phillips         1
A Zampa             1
Name: fielders_involved, Length: 535, dtype: int64

### BattingTeam

In [28]:
ball_with_match['BattingTeam'].value_counts()

Mumbai Indians                 27826
Royal Challengers Bangalore    26512
Kolkata Knight Riders          26192
Chennai Super Kings            25128
Rajasthan Royals               22777
Kings XI Punjab                22646
Delhi Daredevils               18786
Sunrisers Hyderabad            18196
Deccan Chargers                 9034
Delhi Capitals                  7587
Pune Warriors                   5443
Gujarat Lions                   3566
Punjab Kings                    3388
Gujarat Titans                  1971
Rising Pune Supergiant          1900
Lucknow Super Giants            1840
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: BattingTeam, dtype: int64

In [29]:
ball_with_match['BattingTeam']=ball_with_match['BattingTeam'].replace('Delhi Daredevils','Delhi Capitals')
ball_with_match['BattingTeam']=ball_with_match['BattingTeam'].replace('Kings XI Punjab','Punjab Kings')
ball_with_match['BattingTeam']=ball_with_match['BattingTeam'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [30]:
ball_with_match['BattingTeam'].value_counts()

Mumbai Indians                 27826
Royal Challengers Bangalore    26512
Delhi Capitals                 26373
Kolkata Knight Riders          26192
Punjab Kings                   26034
Chennai Super Kings            25128
Rajasthan Royals               22777
Sunrisers Hyderabad            18196
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Rising Pune Supergiant          3480
Gujarat Titans                  1971
Lucknow Super Giants            1840
Kochi Tuskers Kerala            1582
Name: BattingTeam, dtype: int64

### City

In [31]:
ball_with_match['City'].value_counts()

Mumbai            38357
Kolkata           18496
Delhi             18294
Chennai           16351
Hyderabad         15213
Bangalore         14907
Chandigarh        13269
Pune              12239
Jaipur            11150
Abu Dhabi          8799
Ahmedabad          4533
Durban             3643
Bengaluru          3494
Dubai              3149
Visakhapatnam      3037
Centurion          2866
Rajkot             2381
Sharjah            2355
Navi Mumbai        2188
Dharamsala         2159
Indore             1965
Johannesburg       1940
Cuttack            1695
Port Elizabeth     1677
Ranchi             1671
Cape Town          1539
Raipur             1431
Kochi              1155
Kanpur              921
Nagpur              742
Kimberley           726
East London         715
Bloemfontein        500
Name: City, dtype: int64

### Date

In [32]:
ball_with_match['Date']

0         2022-05-29
1         2022-05-29
2         2022-05-29
3         2022-05-29
4         2022-05-29
             ...
225949    2008-04-18
225950    2008-04-18
225951    2008-04-18
225952    2008-04-18
225953    2008-04-18
Name: Date, Length: 225954, dtype: object

In [33]:
ball_with_match['Date'] = pd.to_datetime(ball_with_match['Date'])

In [34]:
ball_with_match['Date']

0        2022-05-29
1        2022-05-29
2        2022-05-29
3        2022-05-29
4        2022-05-29
            ...
225949   2008-04-18
225950   2008-04-18
225951   2008-04-18
225952   2008-04-18
225953   2008-04-18
Name: Date, Length: 225954, dtype: datetime64[ns]

### Season

In [35]:
ball_with_match['Season'].value_counts()

2013       18177
2022       17912
2012       17767
2011       17013
2020/21    14559
2009/10    14498
2021       14425
2019       14312
2014       14300
2018       14286
2016       14096
2017       13862
2015       13652
2009       13606
2007/08    13489
Name: Season, dtype: int64

In [36]:
ball_with_match['Season']=ball_with_match['Season'].replace('2020/21','2020')
ball_with_match['Season']=ball_with_match['Season'].replace('2009/10','2010') 
ball_with_match['Season']=ball_with_match['Season'].replace('2007/08','2008')

In [37]:
ball_with_match['Season'].value_counts().sort_index()

2008    13489
2009    13606
2010    14498
2011    17013
2012    17767
2013    18177
2014    14300
2015    13652
2016    14096
2017    13862
2018    14286
2019    14312
2020    14559
2021    14425
2022    17912
Name: Season, dtype: int64

### MatchNumber

In [38]:
ball_with_match['MatchNumber'].value_counts()

16                    3712
30                    3703
10                    3691
Final                 3686
35                    3676
                      ...
68                     798
Elimination Final      734
71                     497
72                     490
3rd Place Play-Off     198
Name: MatchNumber, Length: 80, dtype: int64

### Team1

In [39]:
ball_with_match['Team1'].value_counts()

Royal Challengers Bangalore    29522
Mumbai Indians                 26971
Chennai Super Kings            26909
Kolkata Knight Riders          24733
Kings XI Punjab                21848
Rajasthan Royals               21234
Delhi Daredevils               19753
Sunrisers Hyderabad            16374
Deccan Chargers                 9448
Delhi Capitals                  7121
Pune Warriors                   5483
Punjab Kings                    4285
Gujarat Lions                   3784
Lucknow Super Giants            1962
Rising Pune Supergiants         1677
Gujarat Titans                  1670
Rising Pune Supergiant          1617
Kochi Tuskers Kerala            1563
Name: Team1, dtype: int64

In [40]:
ball_with_match['Team1']=ball_with_match['Team1'].replace('Delhi Daredevils','Delhi Capitals')
ball_with_match['Team1']=ball_with_match['Team1'].replace('Kings XI Punjab','Punjab Kings')
ball_with_match['Team1']=ball_with_match['Team1'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [41]:
ball_with_match['Team1'].value_counts()

Royal Challengers Bangalore    29522
Mumbai Indians                 26971
Chennai Super Kings            26909
Delhi Capitals                 26874
Punjab Kings                   26133
Kolkata Knight Riders          24733
Rajasthan Royals               21234
Sunrisers Hyderabad            16374
Deccan Chargers                 9448
Pune Warriors                   5483
Gujarat Lions                   3784
Rising Pune Supergiant          3294
Lucknow Super Giants            1962
Gujarat Titans                  1670
Kochi Tuskers Kerala            1563
Name: Team1, dtype: int64

### Team2

In [42]:
ball_with_match['Team2'].value_counts()

Mumbai Indians                 28709
Kolkata Knight Riders          27814
Rajasthan Royals               24408
Royal Challengers Bangalore    23702
Kings XI Punjab                23281
Chennai Super Kings            23070
Sunrisers Hyderabad            19961
Delhi Daredevils               17758
Deccan Chargers                 8625
Delhi Capitals                  8196
Pune Warriors                   5417
Gujarat Lions                   3327
Punjab Kings                    2395
Rising Pune Supergiant          2211
Gujarat Titans                  2208
Lucknow Super Giants            1721
Kochi Tuskers Kerala            1633
Rising Pune Supergiants         1518
Name: Team2, dtype: int64

In [43]:
ball_with_match['Team2']=ball_with_match['Team2'].replace('Delhi Daredevils','Delhi Capitals')
ball_with_match['Team2']=ball_with_match['Team2'].replace('Kings XI Punjab','Punjab Kings')
ball_with_match['Team2']=ball_with_match['Team2'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [44]:
ball_with_match['Team2'].value_counts()

Mumbai Indians                 28709
Kolkata Knight Riders          27814
Delhi Capitals                 25954
Punjab Kings                   25676
Rajasthan Royals               24408
Royal Challengers Bangalore    23702
Chennai Super Kings            23070
Sunrisers Hyderabad            19961
Deccan Chargers                 8625
Pune Warriors                   5417
Rising Pune Supergiant          3729
Gujarat Lions                   3327
Gujarat Titans                  2208
Lucknow Super Giants            1721
Kochi Tuskers Kerala            1633
Name: Team2, dtype: int64

### Venue

In [45]:
ball_with_match['Venue'].value_counts()

Eden Gardens                                            17988
Wankhede Stadium                                        17591
M Chinnaswamy Stadium                                   14907
Feroz Shah Kotla                                        13950
MA Chidambaram Stadium, Chepauk                         11760
Rajiv Gandhi International Stadium, Uppal               11604
Dubai International Cricket Stadium                     11229
Sawai Mansingh Stadium                                  11150
Punjab Cricket Association Stadium, Mohali               8266
Wankhede Stadium, Mumbai                                 7530
Sheikh Zayed Stadium                                     6925
Sharjah Cricket Stadium                                  6672
Maharashtra Cricket Association Stadium                  5294
Dr DY Patil Sports Academy, Mumbai                       4905
Brabourne Stadium, Mumbai                                4057
Dr DY Patil Sports Academy                               3993
Subrata Roy Sahara Stadium                               3825
Kingsmead                                                3643
Rajiv Gandhi International Stadium                       3609
M.Chinnaswamy Stadium                                    3494
Arun Jaitley Stadium                                     3356
Maharashtra Cricket Association Stadium, Pune            3120
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium      3037
Sardar Patel Stadium, Motera                             2893
SuperSport Park                                          2866
Punjab Cricket Association IS Bindra Stadium, Mohali     2574
Brabourne Stadium                                        2469
MA Chidambaram Stadium, Chepauk, Chennai                 2461
Punjab Cricket Association IS Bindra Stadium             2429
Saurashtra Cricket Association Stadium                   2381
Himachal Pradesh Cricket Association Stadium             2159
MA Chidambaram Stadium                                   2130
Holkar Cricket Stadium                                   1965
New Wanderers Stadium                                    1940
Zayed Cricket Stadium, Abu Dhabi                         1874
Barabati Stadium                                         1695
St George's Park                                         1677
JSCA International Stadium Complex                       1671
Narendra Modi Stadium, Ahmedabad                         1640
Newlands                                                 1539
Shaheed Veer Narayan Singh International Stadium         1431
Nehru Stadium                                            1155
Arun Jaitley Stadium, Delhi                               988
Green Park                                                921
Vidarbha Cricket Association Stadium, Jamtha              742
De Beers Diamond Oval                                     726
Buffalo Park                                              715
Eden Gardens, Kolkata                                     508
OUTsurance Oval                                           500
Name: Venue, dtype: int64

In [46]:
ball_with_match['Venue']=ball_with_match['Venue'].replace('Arun Jaitley Stadium, Delhi','Arun Jaitley Stadium')
ball_with_match['Venue']=ball_with_match['Venue'].replace('Brabourne Stadium, Mumbai','Brabourne Stadium') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('Dr DY Patil Sports Academy, Mumbai','Dr DY Patil Sports Academy') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('Eden Gardens, Kolkata','Eden Gardens') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('Feroz Shah Kotla','Arun Jaitley Stadium') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('MA Chidambaram Stadium, Chepauk, Chennai','MA Chidambaram Stadium') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('MA Chidambaram Stadium, Chepauk','MA Chidambaram Stadium')
ball_with_match['Venue']=ball_with_match['Venue'].replace('Maharashtra Cricket Association Stadium, Pune','Maharashtra Cricket Association Stadium') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('Punjab Cricket Association IS Bindra Stadium','Punjab Cricket Association Stadium')
ball_with_match['Venue']=ball_with_match['Venue'].replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association Stadium') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('Punjab Cricket Association Stadium, Mohali','Punjab Cricket Association Stadium') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('Rajiv Gandhi International Stadium, Uppal','Rajiv Gandhi International Stadium') 
ball_with_match['Venue']=ball_with_match['Venue'].replace('Wankhede Stadium, Mumbai','Wankhede Stadium')

In [47]:
ball_with_match['Venue'].value_counts()

Wankhede Stadium                                       25121
Eden Gardens                                           18496
M Chinnaswamy Stadium                                  18401
Arun Jaitley Stadium                                   18294
MA Chidambaram Stadium                                 16351
Rajiv Gandhi International Stadium                     15213
Punjab Cricket Association Stadium                     13269
Dubai International Cricket Stadium                    11229
Sawai Mansingh Stadium                                 11150
Dr DY Patil Sports Academy                              8898
Maharashtra Cricket Association Stadium                 8414
Sheikh Zayed Stadium                                    6925
Sharjah Cricket Stadium                                 6672
Brabourne Stadium                                       6526
Subrata Roy Sahara Stadium                              3825
Kingsmead                                               3643
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     3037
Sardar Patel Stadium, Motera                            2893
SuperSport Park                                         2866
Saurashtra Cricket Association Stadium                  2381
Himachal Pradesh Cricket Association Stadium            2159
Holkar Cricket Stadium                                  1965
New Wanderers Stadium                                   1940
Zayed Cricket Stadium, Abu Dhabi                        1874
Barabati Stadium                                        1695
St George's Park                                        1677
JSCA International Stadium Complex                      1671
Narendra Modi Stadium, Ahmedabad                        1640
Newlands                                                1539
Shaheed Veer Narayan Singh International Stadium        1431
Nehru Stadium                                           1155
Green Park                                               921
Vidarbha Cricket Association Stadium, Jamtha             742
De Beers Diamond Oval                                    726
Buffalo Park                                             715
OUTsurance Oval                                          500
Name: Venue, dtype: int64

### TossWinner

In [48]:
ball_with_match['TossWinner'].value_counts()

Mumbai Indians                 29521
Kolkata Knight Riders          26989
Chennai Super Kings            26208
Royal Challengers Bangalore    24826
Rajasthan Royals               23565
Kings XI Punjab                20326
Delhi Daredevils               18548
Sunrisers Hyderabad            17490
Deccan Chargers                10376
Delhi Capitals                  8721
Pune Warriors                   4798
Gujarat Lions                   3586
Gujarat Titans                  2418
Punjab Kings                    2186
Lucknow Super Giants            1762
Kochi Tuskers Kerala            1760
Rising Pune Supergiants         1503
Rising Pune Supergiant          1371
Name: TossWinner, dtype: int64

In [49]:
ball_with_match['TossWinner']=ball_with_match['TossWinner'].replace('Delhi Daredevils','Delhi Capitals')
ball_with_match['TossWinner']=ball_with_match['TossWinner'].replace('Kings XI Punjab','Punjab Kings')
ball_with_match['TossWinner']=ball_with_match['TossWinner'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [50]:
ball_with_match['TossWinner'].value_counts()

Mumbai Indians                 29521
Delhi Capitals                 27269
Kolkata Knight Riders          26989
Chennai Super Kings            26208
Royal Challengers Bangalore    24826
Rajasthan Royals               23565
Punjab Kings                   22512
Sunrisers Hyderabad            17490
Deccan Chargers                10376
Pune Warriors                   4798
Gujarat Lions                   3586
Rising Pune Supergiant          2874
Gujarat Titans                  2418
Lucknow Super Giants            1762
Kochi Tuskers Kerala            1760
Name: TossWinner, dtype: int64

### TossDecision

In [51]:
ball_with_match['TossDecision'].value_counts()

field    142047
bat       83907
Name: TossDecision, dtype: int64

### SuperOver

In [52]:
ball_with_match['SuperOver'].value_counts()

N    221948
Y      3634
Name: SuperOver, dtype: int64

### WinningTeam

In [53]:
ball_with_match['WinningTeam'].value_counts()

Mumbai Indians                 31490
Chennai Super Kings            29221
Kolkata Knight Riders          26839
Royal Challengers Bangalore    25673
Rajasthan Royals               23132
Kings XI Punjab                20948
Sunrisers Hyderabad            17770
Delhi Daredevils               15709
Delhi Capitals                  8754
Deccan Chargers                 7013
Punjab Kings                    3142
Gujarat Lions                   3063
Gujarat Titans                  2920
Pune Warriors                   2883
Rising Pune Supergiant          2383
Lucknow Super Giants            2215
Kochi Tuskers Kerala            1322
Rising Pune Supergiants         1105
Name: WinningTeam, dtype: int64

In [54]:
ball_with_match['WinningTeam']=ball_with_match['WinningTeam'].replace('Delhi Daredevils','Delhi Capitals')
ball_with_match['WinningTeam']=ball_with_match['WinningTeam'].replace('Kings XI Punjab','Punjab Kings')
ball_with_match['WinningTeam']=ball_with_match['WinningTeam'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [55]:
ball_with_match['WinningTeam'].value_counts()

Mumbai Indians                 31490
Chennai Super Kings            29221
Kolkata Knight Riders          26839
Royal Challengers Bangalore    25673
Delhi Capitals                 24463
Punjab Kings                   24090
Rajasthan Royals               23132
Sunrisers Hyderabad            17770
Deccan Chargers                 7013
Rising Pune Supergiant          3488
Gujarat Lions                   3063
Gujarat Titans                  2920
Pune Warriors                   2883
Lucknow Super Giants            2215
Kochi Tuskers Kerala            1322
Name: WinningTeam, dtype: int64

### WonBy

In [56]:
ball_with_match['WonBy'].value_counts()

Wickets      119005
Runs         102943
SuperOver      3634
NoResults       372
Name: WonBy, dtype: int64

### Margin

In [57]:
ball_with_match['Margin'].max()

146.0

In [58]:
matches[matches['Margin'] == 146]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
329,1082635,Delhi,2017-05-06,2017,45,Delhi Daredevils,Mumbai Indians,Feroz Shah Kotla,Delhi Daredevils,field,N,Mumbai Indians,Runs,146.0,NaN,LMP Simmons,"['SV Samson', 'KK Nair', 'SS Iyer', 'RR Pant',...","['LMP Simmons', 'PA Patel', 'KA Pollard', 'RG ...",Nitin Menon,CK Nandan

### method

In [59]:
ball_with_match['method'].value_counts()

D/L    3208
Name: method, dtype: int64

### Player_of_Match

In [60]:
ball_with_match['Player_of_Match'].value_counts()

AB de Villiers    6170
CH Gayle          5186
RG Sharma         4412
DA Warner         4329
MS Dhoni          4130
                  ...
DJG Sammy          203
RP Singh           199
DR Sams            198
M Jansen           154
DL Vettori         108
Name: Player_of_Match, Length: 262, dtype: int64

### Team1Players

In [61]:
ball_with_match['Team1Players'].value_counts()

['JC Buttler', 'D Padikkal', 'SV Samson', 'SO Hetmyer', 'R Parag', 'KK Nair', 'R Ashwin', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']             510
['JC Buttler', 'YBK Jaiswal', 'D Padikkal', 'SV Samson', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'Navdeep Saini', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna']    503
['SV Samson', 'KK Nair', 'SS Iyer', 'RR Pant', 'MN Samuels', 'CJ Anderson', 'PJ Cummins', 'A Mishra', 'Mohammed Shami', 'S Nadeem', 'Z Khan']                   498
['DR Smith', 'SR Tendulkar', 'KD Karthik', 'RG Sharma', 'KA Pollard', 'AT Rayudu', 'Harbhajan Singh', 'MG Johnson', 'SL Malinga', 'DS Kulkarni', 'PP Ojha']     498
['RD Gaikwad', 'F du Plessis', 'MM Ali', 'SK Raina', 'AT Rayudu', 'RA Jadeja', 'MS Dhoni', 'SM Curran', 'DJ Bravo', 'SN Thakur', 'DL Chahar']                   497
                                                                                                                                                               ...
['G Gambhir', 'V Sehwag', 'TM Dilshan', 'AB de Villiers', 'MK Tiwary', 'KD Karthik', 'DP Nannes', 'DL Vettori', 'VY Mahesh', 'AM Salvi', 'PJ Sangwan']          108
['DA Warner', 'S Dhawan', 'MC Henriques', 'EJG Morgan', 'NV Ojha', 'KL Rahul', 'Bipul Sharma', 'KV Sharma', 'B Kumar', 'P Kumar', 'DW Steyn']                   106
['V Kohli', 'CH Gayle', 'AB de Villiers', 'MC Henriques', 'RP Singh', 'KL Rahul', 'SS Tiwary', 'R Vinay Kumar', 'Z Khan', 'R Rampaul', 'JD Unadkat']            100
['NV Ojha', 'DA Warner', 'MS Wade', 'CA Ingram', 'Y Venugopal Rao', 'JR Hopes', 'IK Pathan', 'Y Nagar', 'VR Aaron', 'UT Yadav', 'AB Dinda']                      63
['V Kohli', 'AB de Villiers', 'MP Stoinis', 'H Klaasen', 'Gurkeerat Singh', 'PA Patel', 'P Negi', 'UT Yadav', 'Navdeep Saini', 'K Khejroliya', 'YS Chahal']      51
Name: Team1Players, Length: 932, dtype: int64

### Team2Players

In [62]:
ball_with_match['Team2Players'].value_counts()

['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Pooran', 'GJ Maxwell', 'DJ Hooda', 'CJ Jordan', 'M Ashwin', 'Ravi Bishnoi', 'Mohammed Shami', 'Arshdeep Singh']        520
['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Nair', 'STR Binny', 'DJ Hooda', 'JP Faulkner', 'CH Morris', 'TG Southee', 'DS Kulkarni', 'PV Tambe']                 507
['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan Kishan', 'HH Pandya', 'KA Pollard', 'KH Pandya', 'JL Pattinson', 'RD Chahar', 'TA Boult', 'JJ Bumrah']             507
['JC Buttler', 'M Vohra', 'SV Samson', 'S Dube', 'DA Miller', 'R Parag', 'R Tewatia', 'CH Morris', 'JD Unadkat', 'C Sakariya', 'Mustafizur Rahman']              501
['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj Singh', 'AD Mathews', 'KM Jadhav', 'MK Tiwary', 'NM Coulter-Nile', 'A Mishra', 'Imran Tahir', 'DJ Muthuswami']    500
                                                                                                                                                                ...
['RS Bopara', 'K Goel', 'Yuvraj Singh', 'KC Sangakkara', 'DPMD Jayawardene', 'IK Pathan', 'PP Chawla', 'T Kohli', 'VS Malik', 'VRV Singh', 'YA Abdulla']         108
['CH Gayle', 'V Kohli', 'AB de Villiers', 'Mandeep Singh', 'KD Karthik', 'SN Khan', 'D Wiese', 'MA Starc', 'HV Patel', 'YS Chahal', 'AB Dinda']                  106
['MEK Hussey', 'M Vijay', 'SK Raina', 'DJ Bravo', 'MS Dhoni', 'RA Jadeja', 'S Badrinath', 'CH Morris', 'R Ashwin', 'JO Holder', 'MM Sharma']                     100
['MK Pandey', 'JP Faulkner', 'SC Ganguly', 'RV Uthappa', 'Yuvraj Singh', 'CJ Ferguson', 'S Rana', 'MR Marsh', 'SS Mundhe', 'R Sharma', 'AC Thomas']               63
['SV Samson', 'LS Livingstone', 'AM Rahane', 'SPD Smith', 'R Parag', 'STR Binny', 'MK Lomror', 'S Gopal', 'JD Unadkat', 'VR Aaron', 'O Thomas']                   51
Name: Team2Players, Length: 937, dtype: int64

### Umpire1

In [63]:
ball_with_match['Umpire1'].value_counts()

AK Chaudhary             22570
HDPK Dharmasena          18224
Asad Rauf                12010
S Ravi                   11560
CB Gaffaney              11270
KN Ananthapadmanabhan    10587
M Erasmus                10224
Aleem Dar                 9137
BF Bowden                 8719
BR Doctrove               8015
Nitin Menon               7535
BNJ Oxenford              7224
AY Dandekar               7081
C Shamshuddin             6619
RE Koertzen               4744
S Asnani                  4551
CK Nandan                 3870
NJ Llong                  3847
A Nand Kishore            3801
JD Cloete                 3470
RK Illingworth            3312
BG Jerling                3080
VA Kulkarni               2844
SS Hazare                 2463
S Das                     2442
K Hariharan               2343
MR Benson                 2257
A Deshmukh                2104
DJ Harper                 2101
J Madanagopal             1958
PG Pathak                 1722
GAV Baxter                1692
IL Howell                 1670
PR Reiffel                1635
RM Deshpande              1587
SJ Davis                  1458
RJ Tucker                 1417
Chirra Ravikanthreddy     1358
YC Barde                  1341
SD Fry                    1231
SK Tarapore               1164
IJ Gould                   973
AM Saheba                  947
VK Sharma                  939
GR Sadashiv Iyer           741
Navdeep Singh              734
UV Gandhe                  730
R Pandit                   722
K Bharatan                 700
NA Patwardhan              491
MA Gough                   477
K Srinath                  464
K Srinivasan               446
AV Jayaprakash             376
SJA Taufel                 250
Tapan Sharma               249
HAS Khalid                 244
SL Shastri                 234
Name: Umpire1, dtype: int64

### Umpire2

In [64]:
ball_with_match['Umpire2'].value_counts()

S Ravi                   19983
C Shamshuddin            14082
SJA Taufel               12981
Nitin Menon              12401
RJ Tucker                10739
VK Sharma                10071
CK Nandan                10052
VA Kulkarni               9127
RB Tiffin                 7110
BNJ Oxenford              6312
SK Tarapore               6207
RK Illingworth            6091
M Erasmus                 6006
YC Barde                  5371
CB Gaffaney               5370
AM Saheba                 5279
PR Reiffel                5014
RE Koertzen               4881
NJ Llong                  4806
DJ Harper                 4228
HDPK Dharmasena           4095
AK Chaudhary              3895
UV Gandhe                 3520
K Srinath                 3142
SL Shastri                3138
KN Ananthapadmanabhan     2888
S Asnani                  2653
K Hariharan               2614
MA Gough                  2330
A Nand Kishore            2160
PG Pathak                 1992
BR Doctrove               1870
Tapan Sharma              1692
IL Howell                 1656
K Srinivasan              1583
N Pandit                  1514
GA Pratapkumar            1455
I Shivram                 1454
SS Hazare                 1428
HAS Khalid                1410
AL Hill                   1391
S Das                     1232
TH Wijewardene            1196
BG Jerling                1000
Navdeep Singh              976
NA Patwardhan              969
AV Jayaprakash             902
R Pandit                   727
GR Sadashiv Iyer           716
A Deshmukh                 665
J Madanagopal              650
MR Benson                  497
IJ Gould                   468
AY Dandekar                451
SD Ranade                  295
BF Bowden                  250
Subroto Das                243
SJ Davis                   243
JD Cloete                  243
SD Fry                     240
Name: Umpire2, dtype: int64

### export cleaned data

In [65]:
ball_with_match.to_csv('ball_with_match_cleaned.csv', index=False)

## ipl-matches dataset

In [4]:
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

### City

In [6]:
matches['City'].value_counts()

Mumbai            159
Kolkata            79
Delhi              78
Chennai            67
Bangalore          65
Hyderabad          64
Chandigarh         56
Pune               51
Jaipur             47
Abu Dhabi          37
Ahmedabad          19
Bengaluru          15
Durban             15
Visakhapatnam      13
Dubai              13
Centurion          12
Rajkot             10
Sharjah            10
Dharamsala          9
Navi Mumbai         9
Indore              9
Johannesburg        8
Ranchi              7
Cuttack             7
Port Elizabeth      7
Cape Town           7
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: City, dtype: int64

### Date

In [8]:
matches['Date']

0      2022-05-29
1      2022-05-27
2      2022-05-25
3      2022-05-24
4      2022-05-22
          ...
945    2008-04-20
946    2008-04-20
947    2008-04-19
948    2008-04-19
949    2008-04-18
Name: Date, Length: 950, dtype: object

In [10]:
matches['Date'] = pd.to_datetime(matches['Date'])

In [11]:
matches['Date']

0     2022-05-29
1     2022-05-27
2     2022-05-25
3     2022-05-24
4     2022-05-22
         ...
945   2008-04-20
946   2008-04-20
947   2008-04-19
948   2008-04-19
949   2008-04-18
Name: Date, Length: 950, dtype: datetime64[ns]

### Season

In [12]:
matches['Season'].value_counts()

2013       76
2022       74
2012       74
2011       73
2021       60
2020/21    60
2019       60
2018       60
2016       60
2014       60
2009/10    60
2017       59
2015       59
2007/08    58
2009       57
Name: Season, dtype: int64

In [15]:
matches['Season']=matches['Season'].replace('2007/08','2008')
matches['Season']=matches['Season'].replace('2020/21','2020')
matches['Season']=matches['Season'].replace('2009/10','2010')

In [16]:
matches['Season'].value_counts().sort_index()

2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
2021    60
2022    74
Name: Season, dtype: int64

### MatchNumber

In [17]:
matches['MatchNumber'].value_counts()

Final                 15
36                    15
46                    15
45                    15
44                    15
                      ..
65                     4
Elimination Final      3
72                     2
71                     2
3rd Place Play-Off     1
Name: MatchNumber, Length: 80, dtype: int64

### Team1

In [18]:
matches['Team1'].value_counts()

Royal Challengers Bangalore    126
Mumbai Indians                 112
Chennai Super Kings            111
Kolkata Knight Riders          105
Kings XI Punjab                 92
Rajasthan Royals                89
Delhi Daredevils                85
Sunrisers Hyderabad             69
Deccan Chargers                 39
Delhi Capitals                  29
Pune Warriors                   23
Punjab Kings                    18
Gujarat Lions                   16
Lucknow Super Giants             8
Gujarat Titans                   7
Rising Pune Supergiant           7
Rising Pune Supergiants          7
Kochi Tuskers Kerala             7
Name: Team1, dtype: int64

In [20]:
matches['Team1']=matches['Team1'].replace('Delhi Daredevils','Delhi Capitals')
matches['Team1']=matches['Team1'].replace('Kings XI Punjab','Punjab Kings')
matches['Team1']=matches['Team1'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [21]:
matches['Team1'].value_counts()

Royal Challengers Bangalore    126
Delhi Capitals                 114
Mumbai Indians                 112
Chennai Super Kings            111
Punjab Kings                   110
Kolkata Knight Riders          105
Rajasthan Royals                89
Sunrisers Hyderabad             69
Deccan Chargers                 39
Pune Warriors                   23
Gujarat Lions                   16
Rising Pune Supergiant          14
Lucknow Super Giants             8
Gujarat Titans                   7
Kochi Tuskers Kerala             7
Name: Team1, dtype: int64

### Team2

In [24]:
matches['Team2'].value_counts()

Mumbai Indians                 119
Kolkata Knight Riders          118
Rajasthan Royals               103
Royal Challengers Bangalore    100
Kings XI Punjab                 98
Chennai Super Kings             97
Sunrisers Hyderabad             83
Delhi Daredevils                76
Deccan Chargers                 36
Delhi Capitals                  34
Pune Warriors                   23
Gujarat Lions                   14
Punjab Kings                    10
Gujarat Titans                   9
Rising Pune Supergiant           9
Rising Pune Supergiants          7
Lucknow Super Giants             7
Kochi Tuskers Kerala             7
Name: Team2, dtype: int64

In [25]:
matches['Team2']=matches['Team2'].replace('Delhi Daredevils','Delhi Capitals')
matches['Team2']=matches['Team2'].replace('Kings XI Punjab','Punjab Kings')
matches['Team2']=matches['Team2'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [26]:
matches['Team2'].value_counts()

Mumbai Indians                 119
Kolkata Knight Riders          118
Delhi Capitals                 110
Punjab Kings                   108
Rajasthan Royals               103
Royal Challengers Bangalore    100
Chennai Super Kings             97
Sunrisers Hyderabad             83
Deccan Chargers                 36
Pune Warriors                   23
Rising Pune Supergiant          16
Gujarat Lions                   14
Gujarat Titans                   9
Lucknow Super Giants             7
Kochi Tuskers Kerala             7
Name: Team2, dtype: int64

### Venue

In [31]:
matches['Venue'].value_counts()

Wankhede Stadium                                       104
M Chinnaswamy Stadium                                   80
Eden Gardens                                            79
Arun Jaitley Stadium                                    78
MA Chidambaram Stadium                                  67
Rajiv Gandhi International Stadium                      64
Punjab Cricket Association Stadium                      56
Sawai Mansingh Stadium                                  47
Dubai International Cricket Stadium                     46
Dr DY Patil Sports Academy                              37
Maharashtra Cricket Association Stadium                 35
Sheikh Zayed Stadium                                    29
Sharjah Cricket Stadium                                 28
Brabourne Stadium                                       27
Subrata Roy Sahara Stadium                              16
Kingsmead                                               15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Sardar Patel Stadium, Motera                            12
SuperSport Park                                         12
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
New Wanderers Stadium                                    8
Zayed Cricket Stadium, Abu Dhabi                         8
St George's Park                                         7
Narendra Modi Stadium, Ahmedabad                         7
Newlands                                                 7
Barabati Stadium                                         7
JSCA International Stadium Complex                       7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
Vidarbha Cricket Association Stadium, Jamtha             3
De Beers Diamond Oval                                    3
Buffalo Park                                             3
OUTsurance Oval                                          2
Name: Venue, dtype: int64

In [29]:
matches['Venue']=matches['Venue'].replace('Arun Jaitley Stadium, Delhi','Arun Jaitley Stadium')
matches['Venue']=matches['Venue'].replace('Brabourne Stadium, Mumbai','Brabourne Stadium') 
matches['Venue']=matches['Venue'].replace('Dr DY Patil Sports Academy, Mumbai','Dr DY Patil Sports Academy') 
matches['Venue']=matches['Venue'].replace('Eden Gardens, Kolkata','Eden Gardens') 
matches['Venue']=matches['Venue'].replace('Feroz Shah Kotla','Arun Jaitley Stadium') 
matches['Venue']=matches['Venue'].replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium') 
matches['Venue']=matches['Venue'].replace('MA Chidambaram Stadium, Chepauk, Chennai','MA Chidambaram Stadium') 
matches['Venue']=matches['Venue'].replace('MA Chidambaram Stadium, Chepauk','MA Chidambaram Stadium')
matches['Venue']=matches['Venue'].replace('Maharashtra Cricket Association Stadium, Pune','Maharashtra Cricket Association Stadium') 
matches['Venue']=matches['Venue'].replace('Punjab Cricket Association IS Bindra Stadium','Punjab Cricket Association Stadium')
matches['Venue']=matches['Venue'].replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association Stadium') 
matches['Venue']=matches['Venue'].replace('Punjab Cricket Association Stadium, Mohali','Punjab Cricket Association Stadium') 
matches['Venue']=matches['Venue'].replace('Rajiv Gandhi International Stadium, Uppal','Rajiv Gandhi International Stadium') 
matches['Venue']=matches['Venue'].replace('Wankhede Stadium, Mumbai','Wankhede Stadium')

In [30]:
matches['Venue'].value_counts()

Wankhede Stadium                                       104
M Chinnaswamy Stadium                                   80
Eden Gardens                                            79
Arun Jaitley Stadium                                    78
MA Chidambaram Stadium                                  67
Rajiv Gandhi International Stadium                      64
Punjab Cricket Association Stadium                      56
Sawai Mansingh Stadium                                  47
Dubai International Cricket Stadium                     46
Dr DY Patil Sports Academy                              37
Maharashtra Cricket Association Stadium                 35
Sheikh Zayed Stadium                                    29
Sharjah Cricket Stadium                                 28
Brabourne Stadium                                       27
Subrata Roy Sahara Stadium                              16
Kingsmead                                               15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     13
Sardar Patel Stadium, Motera                            12
SuperSport Park                                         12
Saurashtra Cricket Association Stadium                  10
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   9
New Wanderers Stadium                                    8
Zayed Cricket Stadium, Abu Dhabi                         8
St George's Park                                         7
Narendra Modi Stadium, Ahmedabad                         7
Newlands                                                 7
Barabati Stadium                                         7
JSCA International Stadium Complex                       7
Shaheed Veer Narayan Singh International Stadium         6
Nehru Stadium                                            5
Green Park                                               4
Vidarbha Cricket Association Stadium, Jamtha             3
De Beers Diamond Oval                                    3
Buffalo Park                                             3
OUTsurance Oval                                          2
Name: Venue, dtype: int64

### TossWinner

In [34]:
matches['TossWinner'].value_counts()

Mumbai Indians                 123
Kolkata Knight Riders          114
Chennai Super Kings            109
Royal Challengers Bangalore    105
Rajasthan Royals                99
Kings XI Punjab                 85
Delhi Daredevils                80
Sunrisers Hyderabad             74
Deccan Chargers                 43
Delhi Capitals                  36
Pune Warriors                   20
Gujarat Lions                   15
Gujarat Titans                  10
Punjab Kings                     9
Kochi Tuskers Kerala             8
Lucknow Super Giants             7
Rising Pune Supergiants          7
Rising Pune Supergiant           6
Name: TossWinner, dtype: int64

In [35]:
matches['TossWinner']=matches['TossWinner'].replace('Delhi Daredevils','Delhi Capitals')
matches['TossWinner']=matches['TossWinner'].replace('Kings XI Punjab','Punjab Kings')
matches['TossWinner']=matches['TossWinner'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [36]:
matches['TossWinner'].value_counts()

Mumbai Indians                 123
Delhi Capitals                 116
Kolkata Knight Riders          114
Chennai Super Kings            109
Royal Challengers Bangalore    105
Rajasthan Royals                99
Punjab Kings                    94
Sunrisers Hyderabad             74
Deccan Chargers                 43
Pune Warriors                   20
Gujarat Lions                   15
Rising Pune Supergiant          13
Gujarat Titans                  10
Kochi Tuskers Kerala             8
Lucknow Super Giants             7
Name: TossWinner, dtype: int64

### TossDecision

In [39]:
matches['TossDecision'].value_counts()

field    599
bat      351
Name: TossDecision, dtype: int64

### SuperOver

In [40]:
matches['SuperOver'].value_counts()

N    932
Y     14
Name: SuperOver, dtype: int64

### WinningTeam

In [43]:
matches['WinningTeam'].value_counts()

Mumbai Indians                 131
Chennai Super Kings            121
Kolkata Knight Riders          114
Royal Challengers Bangalore    109
Rajasthan Royals                96
Kings XI Punjab                 88
Sunrisers Hyderabad             75
Delhi Daredevils                67
Delhi Capitals                  36
Deccan Chargers                 29
Gujarat Lions                   13
Punjab Kings                    13
Pune Warriors                   12
Gujarat Titans                  12
Rising Pune Supergiant          10
Lucknow Super Giants             9
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: WinningTeam, dtype: int64

In [44]:
matches['WinningTeam']=matches['WinningTeam'].replace('Delhi Daredevils','Delhi Capitals')
matches['WinningTeam']=matches['WinningTeam'].replace('Kings XI Punjab','Punjab Kings')
matches['WinningTeam']=matches['WinningTeam'].replace('Rising Pune Supergiants','Rising Pune Supergiant')

In [45]:
matches['WinningTeam'].value_counts()

Mumbai Indians                 131
Chennai Super Kings            121
Kolkata Knight Riders          114
Royal Challengers Bangalore    109
Delhi Capitals                 103
Punjab Kings                   101
Rajasthan Royals                96
Sunrisers Hyderabad             75
Deccan Chargers                 29
Rising Pune Supergiant          15
Gujarat Lions                   13
Gujarat Titans                  12
Pune Warriors                   12
Lucknow Super Giants             9
Kochi Tuskers Kerala             6
Name: WinningTeam, dtype: int64

### WonBy

In [56]:
matches['WonBy'].value_counts()

Wickets      509
Runs         423
SuperOver     14
NoResults      4
Name: WonBy, dtype: int64

### Margin

In [57]:
matches['Margin'].max()

146.0

In [58]:
matches[matches['Margin'] == 146]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
329,1082635,Delhi,2017-05-06,2017,45,Delhi Capitals,Mumbai Indians,Arun Jaitley Stadium,Delhi Capitals,field,N,Mumbai Indians,Runs,146.0,NaN,LMP Simmons,"['SV Samson', 'KK Nair', 'SS Iyer', 'RR Pant',...","['LMP Simmons', 'PA Patel', 'KA Pollard', 'RG ...",Nitin Menon,CK Nandan

### method

In [59]:
matches['method'].value_counts()

D/L    19
Name: method, dtype: int64

### Player_of_Match

In [60]:
matches['Player_of_Match'].value_counts()

AB de Villiers    25
CH Gayle          22
DA Warner         18
RG Sharma         18
MS Dhoni          17
                  ..
CR Brathwaite      1
Mohsin Khan        1
A Zampa            1
BCJ Cutting        1
MF Maharoof        1
Name: Player_of_Match, Length: 262, dtype: int64

### Team1Players

In [68]:
matches['Team1Players'].value_counts()

['RD Gaikwad', 'F du Plessis', 'MM Ali', 'SK Raina', 'AT Rayudu', 'RA Jadeja', 'MS Dhoni', 'SM Curran', 'DJ Bravo', 'SN Thakur', 'DL Chahar']                        2
['SV Samson', 'KK Nair', 'SS Iyer', 'RR Pant', 'MN Samuels', 'CJ Anderson', 'PJ Cummins', 'A Mishra', 'Mohammed Shami', 'S Nadeem', 'Z Khan']                        2
['JC Buttler', 'D Padikkal', 'SV Samson', 'SO Hetmyer', 'R Parag', 'KK Nair', 'R Ashwin', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']                  2
['S Dhawan', 'KS Williamson', 'WP Saha', 'MK Pandey', 'Shakib Al Hasan', 'YK Pathan', 'Mohammad Nabi', 'Rashid Khan', 'Basil Thampi', 'S Kaul', 'Sandeep Sharma']    2
['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana', 'KD Karthik', 'AD Russell', 'Shubman Gill', 'TK Curran', 'PP Chawla', 'Shivam Mavi', 'Kuldeep Yadav']               2
                                                                                                                                                                    ..
['CH Gayle', 'Mandeep Singh', 'V Kohli', 'AB de Villiers', 'TM Head', 'KM Jadhav', 'P Negi', 'S Aravind', 'S Badree', 'A Choudhary', 'YS Chahal']                    1
['MJ Guptill', 'HM Amla', 'SE Marsh', 'GJ Maxwell', 'AR Patel', 'WP Saha', 'Gurkeerat Singh', 'MM Sharma', 'Sandeep Sharma', 'VR Aaron', 'T Natarajan']              1
['SV Samson', 'KK Nair', 'SS Iyer', 'RR Pant', 'CJ Anderson', 'MN Samuels', 'PJ Cummins', 'K Rabada', 'A Mishra', 'Mohammed Shami', 'Z Khan']                        1
['DA Warner', 'S Dhawan', 'KS Williamson', 'Yuvraj Singh', 'MC Henriques', 'NV Ojha', 'Bipul Sharma', 'Rashid Khan', 'B Kumar', 'S Kaul', 'A Nehra']                 1
['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis', 'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke', 'P Kumar', 'Z Khan', 'SB Joshi']                                  1
Name: Team1Players, Length: 932, dtype: int64

### Team2Players

In [69]:
matches['Team2Players'].value_counts()

['RV Uthappa', 'G Gambhir', 'MK Pandey', 'SA Yadav', 'YK Pathan', 'RN ten Doeschate', 'AD Russell', 'PP Chawla', 'SP Narine', 'M Morkel', 'UT Yadav']                2
['Abhishek Sharma', 'KS Williamson', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Shashank Singh', 'J Suchith', 'B Kumar', 'M Jansen', 'T Natarajan', 'Umran Malik']    2
['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Nair', 'STR Binny', 'DJ Hooda', 'JP Faulkner', 'CH Morris', 'TG Southee', 'DS Kulkarni', 'PV Tambe']                     2
['DA Warner', 'S Dhawan', 'KS Williamson', 'Yuvraj Singh', 'MC Henriques', 'DJ Hooda', 'NV Ojha', 'B Kumar', 'BB Sran', 'A Nehra', 'Mustafizur Rahman']              2
['DJ Jacobs', 'SR Tendulkar', 'AT Rayudu', 'RG Sharma', 'KA Pollard', 'JEC Franklin', 'R Sathish', 'Harbhajan Singh', 'AG Murtaza', 'MM Patel', 'SL Malinga']        2
                                                                                                                                                                    ..
['LMP Simmons', 'PA Patel', 'N Rana', 'RG Sharma', 'HH Pandya', 'KA Pollard', 'KV Sharma', 'Harbhajan Singh', 'MJ McClenaghan', 'JJ Bumrah', 'SL Malinga']           1
['CA Lynn', 'SP Narine', 'C de Grandhomme', 'G Gambhir', 'MK Pandey', 'YK Pathan', 'SP Jackson', 'CR Woakes', 'UT Yadav', 'PP Chawla', 'AS Rajpoot']                 1
['DR Smith', 'Ishan Kishan', 'SK Raina', 'KD Karthik', 'AJ Finch', 'RA Jadeja', 'JP Faulkner', 'DS Kulkarni', 'PJ Sangwan', 'Basil Thampi', 'Ankit Soni']            1
['LMP Simmons', 'PA Patel', 'KA Pollard', 'RG Sharma', 'HH Pandya', 'N Rana', 'KV Sharma', 'Harbhajan Singh', 'MJ McClenaghan', 'SL Malinga', 'JJ Bumrah']           1
['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'WP Saha', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']                1
Name: Team2Players, Length: 937, dtype: int64

### Umpire1

In [70]:
matches['Umpire1'].value_counts()

AK Chaudhary             95
HDPK Dharmasena          76
Asad Rauf                51
S Ravi                   48
CB Gaffaney              47
KN Ananthapadmanabhan    44
M Erasmus                42
Aleem Dar                38
BF Bowden                36
BR Doctrove              34
Nitin Menon              31
AY Dandekar              30
BNJ Oxenford             30
C Shamshuddin            28
RE Koertzen              20
S Asnani                 19
NJ Llong                 17
JD Cloete                16
CK Nandan                16
A Nand Kishore           16
RK Illingworth           14
BG Jerling               13
VA Kulkarni              12
SS Hazare                11
S Das                    10
MR Benson                10
K Hariharan              10
A Deshmukh                9
DJ Harper                 9
J Madanagopal             8
GAV Baxter                7
PG Pathak                 7
RM Deshpande              7
IL Howell                 7
PR Reiffel                7
Chirra Ravikanthreddy     6
RJ Tucker                 6
SJ Davis                  6
YC Barde                  6
SD Fry                    5
SK Tarapore               5
AM Saheba                 4
VK Sharma                 4
IJ Gould                  4
R Pandit                  3
Navdeep Singh             3
GR Sadashiv Iyer          3
K Bharatan                3
UV Gandhe                 3
NA Patwardhan             2
K Srinivasan              2
K Srinath                 2
MA Gough                  2
AV Jayaprakash            2
HAS Khalid                1
SJA Taufel                1
SL Shastri                1
Tapan Sharma              1
Name: Umpire1, dtype: int64

### Umpire2

In [71]:
matches['Umpire2'].value_counts()

S Ravi                   83
C Shamshuddin            60
SJA Taufel               54
Nitin Menon              52
RJ Tucker                46
CK Nandan                43
VK Sharma                42
VA Kulkarni              38
RB Tiffin                30
BNJ Oxenford             27
SK Tarapore              26
RK Illingworth           25
M Erasmus                25
CB Gaffaney              22
AM Saheba                22
YC Barde                 22
PR Reiffel               21
RE Koertzen              21
NJ Llong                 20
HDPK Dharmasena          18
DJ Harper                18
AK Chaudhary             16
UV Gandhe                15
SL Shastri               13
K Srinath                13
KN Ananthapadmanabhan    12
S Asnani                 11
K Hariharan              11
MA Gough                 10
PG Pathak                 9
A Nand Kishore            9
BR Doctrove               8
Tapan Sharma              7
IL Howell                 7
K Srinivasan              7
SS Hazare                 6
AL Hill                   6
I Shivram                 6
N Pandit                  6
GA Pratapkumar            6
HAS Khalid                6
TH Wijewardene            5
S Das                     5
AV Jayaprakash            4
Navdeep Singh             4
NA Patwardhan             4
BG Jerling                4
GR Sadashiv Iyer          3
R Pandit                  3
A Deshmukh                3
J Madanagopal             3
SD Ranade                 2
MR Benson                 2
IJ Gould                  2
AY Dandekar               2
SJ Davis                  1
Subroto Das               1
BF Bowden                 1
SD Fry                    1
JD Cloete                 1
Name: Umpire2, dtype: int64

### export cleaned data

In [72]:
matches.to_csv('matches_cleaned.csv', index=False)