In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('../datasets/ball_with_match_cleaned.csv')

C:\Users\gevar\AppData\Local\Temp\ipykernel_1220\1252632248.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../datasets/ball_with_match_cleaned.csv')

In [6]:
ball_with_match = df.copy()

In [7]:
ball_with_match.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowler_run,isBowlerWicket
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1,0
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0

# season wise

## overall analysis

### total seasons played

In [275]:
ball_with_match['Season'].unique().size

15

### total teams

In [276]:
ball_with_match['Team1'].unique().size

15

### total matches played

In [69]:
ball_with_match['ID'].unique().size

950

### highest runs

In [30]:
ball_with_match.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).values[0]

175

In [32]:
ball_with_match.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).index[0][0]

'CH Gayle'

### highest wickets

In [38]:
ball_with_match.groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).values[0]

6

In [91]:
ball_with_match.groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).index[0][0]

'A Zampa'

### highest team score

In [35]:
min_max_df = ball_with_match[(ball_with_match['WonBy'] != 'NoResults') & (ball_with_match['method'] != 'D/L') & (ball_with_match['innings'].isin([1,2]))]

In [51]:
temp_df = min_max_df.groupby(['ID', 'innings','BattingTeam'])['total_run'].sum().reset_index()

In [52]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['BattingTeam']

'Royal Challengers Bangalore'

In [53]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['total_run']

263

In [44]:
def sortname_conveter(name):
    l = []
    for i in name.split(' '):
        l.append(i[0])

    return ''.join(l)

In [45]:
sortname_conveter('Royal Challengers Bangalore')

'RCB'

### lowest team score

In [54]:
temp_df.sort_values('total_run').iloc[0]['BattingTeam']

'Royal Challengers Bangalore'

In [56]:
temp_df.sort_values('total_run').iloc[0]['total_run']

49

### teams

In [73]:
sorted(set(ball_with_match['Team1'].sort_values().unique().tolist() + ball_with_match['Team2'].sort_values().unique().tolist()))

['Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

### top 5 batsmans

In [88]:
ball_with_match.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().reset_index().values

array([['V Kohli', 6634],
       ['S Dhawan', 6244],
       ['DA Warner', 5883],
       ['RG Sharma', 5881],
       ['SK Raina', 5536]], dtype=object)

In [104]:
ball_with_match.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().values.tolist()

['V Kohli', 'S Dhawan', 'DA Warner', 'RG Sharma', 'SK Raina']

### top 5 bowlers

In [69]:
ball_with_match.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().reset_index()

       bowler  isWicketDelivery
0    DJ Bravo               207
1  SL Malinga               188
2    A Mishra               175
3    R Ashwin               174
4   YS Chahal               172

In [105]:
ball_with_match.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().index.tolist()

['DJ Bravo', 'SL Malinga', 'A Mishra', 'R Ashwin', 'YS Chahal']

### bar chart - team vs count of trophy team have

In [108]:
winning_teams = ball_with_match[ball_with_match['MatchNumber'] == 'Final']

In [109]:
winning_teams = winning_teams.drop_duplicates(subset=['Season'])

In [111]:
temp_df = winning_teams.groupby(['WinningTeam'])['WinningTeam'].count()

In [112]:
temp_df

WinningTeam
Chennai Super Kings      4
Deccan Chargers          1
Gujarat Titans           1
Kolkata Knight Riders    2
Mumbai Indians           5
Rajasthan Royals         1
Sunrisers Hyderabad      1
Name: WinningTeam, dtype: int64

In [115]:
ball_with_match[ball_with_match['MatchNumber'] == 'Final'].drop_duplicates(subset=['Season']).groupby(['WinningTeam'])['WinningTeam'].count()

WinningTeam
Chennai Super Kings      4
Deccan Chargers          1
Gujarat Titans           1
Kolkata Knight Riders    2
Mumbai Indians           5
Rajasthan Royals         1
Sunrisers Hyderabad      1
Name: WinningTeam, dtype: int64

In [120]:
ball_with_match[ball_with_match['MatchNumber'] == 'Final'].drop_duplicates(subset=['Season']).groupby(['WinningTeam'])['WinningTeam'].count().sort_values(ascending=False).index.tolist()

['Mumbai Indians',
 'Chennai Super Kings',
 'Kolkata Knight Riders',
 'Deccan Chargers',
 'Gujarat Titans',
 'Rajasthan Royals',
 'Sunrisers Hyderabad']

In [121]:
ball_with_match[ball_with_match['MatchNumber'] == 'Final'].drop_duplicates(subset=['Season']).groupby(['WinningTeam'])['WinningTeam'].count().sort_values(ascending=False).values.tolist()

[5, 4, 2, 1, 1, 1, 1]

## season analysis

In [250]:
season = 2020

In [251]:
df = ball_with_match[ball_with_match['Season'] == season]

In [224]:
df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
32337,1237181,1,0,1,MP Stoinis,TA Boult,S Dhawan,NaN,0,0,...,N,Mumbai Indians,Wickets,5.0,NaN,TA Boult,"['MP Stoinis', 'S Dhawan', 'AM Rahane', 'SS Iy...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",CB Gaffaney,Nitin Menon
32338,1237181,1,0,2,AM Rahane,TA Boult,S Dhawan,NaN,1,0,...,N,Mumbai Indians,Wickets,5.0,NaN,TA Boult,"['MP Stoinis', 'S Dhawan', 'AM Rahane', 'SS Iy...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",CB Gaffaney,Nitin Menon
32339,1237181,1,0,3,S Dhawan,TA Boult,AM Rahane,NaN,0,0,...,N,Mumbai Indians,Wickets,5.0,NaN,TA Boult,"['MP Stoinis', 'S Dhawan', 'AM Rahane', 'SS Iy...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",CB Gaffaney,Nitin Menon
32340,1237181,1,0,4,S Dhawan,TA Boult,AM Rahane,NaN,4,0,...,N,Mumbai Indians,Wickets,5.0,NaN,TA Boult,"['MP Stoinis', 'S Dhawan', 'AM Rahane', 'SS Iy...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",CB Gaffaney,Nitin Menon
32341,1237181,1,0,5,S Dhawan,TA Boult,AM Rahane,NaN,0,0,...,N,Mumbai Indians,Wickets,5.0,NaN,TA Boult,"['MP Stoinis', 'S Dhawan', 'AM Rahane', 'SS Iy...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",CB Gaffaney,Nitin Menon

### total matches played

In [255]:
df['ID'].unique().size

60

### total teams play

In [227]:
df[df['Season'] == (df['Season'].sort_values(ascending=False).head(1).values[0])]['Team1'].unique().size

8

In [228]:
df[df['Season'] == season]['Team1'].unique().size

8

### total super overs played

In [273]:
df[df['SuperOver'] == 'Y']['ID'].unique().size

4

### highest runs

In [229]:
df.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).values[0]

132

In [230]:
df.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).index[0][0]

'KL Rahul'

In [231]:
df.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).reset_index()['batter'].values[0]

'KL Rahul'

In [232]:
df.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).index[0][0]

'KL Rahul'

### highest wickets

In [233]:
df.groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).values[0]

5

In [234]:
df.groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).index[0][0]

'CV Varun'

### highest team score

In [235]:
min_max_df = df[(df['WonBy'] != 'NoResults') & (df['method'] != 'D/L') & (df['innings'].isin([1, 2]))]

In [236]:
temp_df = min_max_df.groupby(['ID', 'innings', 'BattingTeam'])['total_run'].sum().reset_index()

In [237]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['BattingTeam']

'Delhi Capitals'

In [238]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['total_run']

228

### lowest team score

In [239]:
temp_df.sort_values('total_run').iloc[0]['BattingTeam']

'Kolkata Knight Riders'

In [240]:
temp_df.sort_values('total_run').iloc[0]['total_run']

84

### playing teams

In [241]:
df[df['Season'] == (df['Season'].sort_values(ascending=False).head(1).values[0])]['Team1'].sort_values().unique().tolist()

['Chennai Super Kings',
 'Delhi Capitals',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

### top 5 batsmans

In [46]:
df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().index.tolist()

['KL Rahul', 'S Dhawan', 'DA Warner', 'SS Iyer', 'Ishan Kishan']

In [47]:
df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().values.tolist()

[676, 618, 548, 519, 516]

### top 5 bowlers

In [48]:
df.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().index.tolist()

['K Rabada', 'JJ Bumrah', 'TA Boult', 'Mohammed Shami', 'A Nortje']

In [49]:
df.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().values.tolist()

[32, 30, 26, 23, 23]

### winning team

In [56]:
df[df['MatchNumber'] == 'Final']['WinningTeam'].unique()[0]

'Mumbai Indians'

# team wise

## overall analysis

In [360]:
matches = pd.read_csv('../datasets/matches_cleaned.csv')

### teams names

In [402]:
matches['Team1'].sort_values().unique().tolist()

['Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Capitals',
 'Gujarat Lions',
 'Gujarat Titans',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [403]:
team = 'Chennai Super Kings'

In [404]:
df = ball_with_match[(ball_with_match['Team1'] == team) | (ball_with_match['Team2'] == team)].copy()

In [405]:
df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
1444,1304114,1,0,1,RD Gaikwad,TA Boult,DP Conway,NaN,2,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
1445,1304114,1,0,2,RD Gaikwad,TA Boult,DP Conway,NaN,0,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
1446,1304114,1,0,3,RD Gaikwad,TA Boult,DP Conway,NaN,0,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
1447,1304114,1,0,4,RD Gaikwad,TA Boult,DP Conway,NaN,0,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
1448,1304114,1,0,5,RD Gaikwad,TA Boult,DP Conway,NaN,0,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan

### total seasons played

In [406]:
df['ID'].unique().shape[0]

208

### matches played

In [407]:
df['Season'].unique().size

13

### titles

In [408]:
df[(df.MatchNumber == 'Final') & (df.WinningTeam == team)]['ID'].unique().shape[0]

4

### highest runs

In [409]:
df[df['BattingTeam'] == team].groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).index[0][0]

'M Vijay'

In [410]:
df[df['BattingTeam'] == team].groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).values[0]

127

### highest wickets

In [411]:
df[df['BattingTeam'] != team].groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).index[0][0]

'RA Jadeja'

In [412]:
df[df['BattingTeam'] != team].groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).values[0]

5

### highest team score

In [197]:
min_max_df = df[(df['BattingTeam'] == team) & (df['WonBy'] != 'NoResults') & (df['method'] != 'D/L') & (df['innings'].isin([1, 2]))]

In [198]:
temp_df = min_max_df.groupby(['ID', 'innings', 'BattingTeam'])['total_run'].sum().reset_index()

In [205]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['BattingTeam']

'Chennai Super Kings'

In [206]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['total_run']

246

In [202]:
temp_df.sort_values('total_run', ascending=False)

          ID  innings          BattingTeam  total_run
36    419137        1  Chennai Super Kings        246
0     335983        1  Chennai Super Kings        240
88    598051        1  Chennai Super Kings        223
74    548380        1  Chennai Super Kings        222
177  1254072        1  Chennai Super Kings        220
..       ...      ...                  ...        ...
175  1254065        2  Chennai Super Kings        107
201  1304105        1  Chennai Super Kings         97
91    598068        2  Chennai Super Kings         82
87    598046        2  Chennai Super Kings         79
143  1175356        2  Chennai Super Kings         71

[204 rows x 4 columns]

### lowest team score

In [208]:
temp_df.sort_values('total_run').iloc[0]['BattingTeam']

'Chennai Super Kings'

In [209]:
temp_df.sort_values('total_run').iloc[0]['total_run']

71

### top 5 batsmans

In [281]:
df[df['BattingTeam'] == team].groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().index.tolist()

['SK Raina', 'MS Dhoni', 'F du Plessis', 'AT Rayudu', 'MEK Hussey']

In [282]:
df[df['BattingTeam'] == team].groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().values.tolist()

[4695, 4404, 2767, 2094, 1808]

### top 5 bowlers

In [283]:
df[df['BattingTeam'] != team].groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().index.tolist()

['DJ Bravo', 'RA Jadeja', 'R Ashwin', 'JA Morkel', 'MM Sharma']

In [284]:
df[df['BattingTeam'] != team].groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().values.tolist()

[163, 113, 108, 88, 65]

### matches won

In [286]:
df[df['WinningTeam'] == team]['ID'].unique().shape[0]

121

### matches draw

In [287]:
rr = ball_with_match[(ball_with_match['Team1'] == 'Rajasthan Royals') | (ball_with_match['Team2'] == 'Rajasthan Royals')].copy()

In [288]:
rr[rr['WinningTeam'].isnull()]['ID'].unique().shape[0]

2

In [289]:
df[df['WinningTeam'].isnull()]['ID'].unique().shape[0]

0

### matches loss

In [293]:
# loss = total_matches - win - draw

### pie chart win-loss-draw

## season analysis

In [155]:
team = 'Chennai Super Kings'
season = 2020

In [156]:
df = ball_with_match[((ball_with_match['Team1'] == team) | (ball_with_match['Team2'] == team)) & (ball_with_match['Season'] == season)].copy()

In [157]:
df['Season'].unique()

array([2020], dtype=int64)

### select team per season

In [158]:
df['Team1'].sort_values().unique().tolist()

['Chennai Super Kings',
 'Delhi Capitals',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

### matches played

In [416]:
df['ID'].unique().shape[0]

14

### total super over played

In [417]:
df[df['SuperOver'] == 'Y']['ID'].unique().size

0

### title win

In [418]:
df[(df.MatchNumber == 'Final') & (df.WinningTeam == team)]['ID'].unique().shape[0]

0

### highest runs

In [419]:
df[df['BattingTeam'] == team].groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).index[0][0]

'F du Plessis'

In [420]:
df[df['BattingTeam'] == team].groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).values[0]

87

### highest wickets

In [421]:
df[df['BattingTeam'] != team].groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).index[0][0]

'DJ Bravo'

In [422]:
df[df['BattingTeam'] != team].groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).values[0]

4

### highest score

In [423]:
min_max_df = df[(df['BattingTeam'] == team) & (df['WonBy'] != 'NoResults') & (df['method'] != 'D/L') & (df['innings'].isin([1, 2]))]

In [424]:
temp_df = min_max_df.groupby(['ID', 'innings', 'BattingTeam'])['total_run'].sum().reset_index()

In [425]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['BattingTeam']

'Chennai Super Kings'

In [426]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['total_run']

200

### lowest score

In [427]:
temp_df.sort_values('total_run').iloc[0]['BattingTeam']

'Chennai Super Kings'

In [428]:
temp_df.sort_values('total_run').iloc[0]['total_run']

114

### players

In [501]:
df[df['Team1'] == team]['Team1Players'].head(1).values[0][2:-2].split('\', \'')

['SM Curran',
 'F du Plessis',
 'SR Watson',
 'AT Rayudu',
 'MS Dhoni',
 'RA Jadeja',
 'KM Jadhav',
 'PP Chawla',
 'DL Chahar',
 'SN Thakur',
 'JR Hazlewood']

In [534]:
df[df['BattingTeam'] == team]['batter'].unique()

array(['RD Gaikwad', 'F du Plessis', 'AT Rayudu', 'MS Dhoni', 'M Vijay',
       'SR Watson', 'KM Jadhav', 'RA Jadeja', 'SM Curran', 'DJ Bravo',
       'DL Chahar', 'N Jagadeesan', 'SN Thakur', 'Imran Tahir'],
      dtype=object)

In [544]:
df[df['BattingTeam'] != team]['bowler'].unique()

array(['DL Chahar', 'Monu Kumar', 'SM Curran', 'MJ Santner',
       'Imran Tahir', 'RA Jadeja', 'JR Hazlewood', 'PP Chawla', 'L Ngidi',
       'KV Sharma', 'SN Thakur', 'DJ Bravo'], dtype=object)

In [538]:
df[df['BattingTeam'] == team]['batter'].unique().tolist() + df[df['BattingTeam'] != team]['bowler'].unique().tolist()

['RD Gaikwad',
 'F du Plessis',
 'AT Rayudu',
 'MS Dhoni',
 'M Vijay',
 'SR Watson',
 'KM Jadhav',
 'RA Jadeja',
 'SM Curran',
 'DJ Bravo',
 'DL Chahar',
 'N Jagadeesan',
 'SN Thakur',
 'Imran Tahir',
 'DL Chahar',
 'Monu Kumar',
 'SM Curran',
 'MJ Santner',
 'Imran Tahir',
 'RA Jadeja',
 'JR Hazlewood',
 'PP Chawla',
 'L Ngidi',
 'KV Sharma',
 'SN Thakur',
 'DJ Bravo']

In [547]:
sorted(set(df[df['BattingTeam'] == team]['batter'].unique().tolist() + df[df['BattingTeam'] != team]['bowler'].unique().tolist()))

['AT Rayudu',
 'DJ Bravo',
 'DL Chahar',
 'F du Plessis',
 'Imran Tahir',
 'JR Hazlewood',
 'KM Jadhav',
 'KV Sharma',
 'L Ngidi',
 'M Vijay',
 'MJ Santner',
 'MS Dhoni',
 'Monu Kumar',
 'N Jagadeesan',
 'PP Chawla',
 'RA Jadeja',
 'RD Gaikwad',
 'SM Curran',
 'SN Thakur',
 'SR Watson']

### top 5 batsmans

In [443]:
df[df['BattingTeam'] == team].groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head(50)

batter
F du Plessis    449
AT Rayudu       359
SR Watson       299
RA Jadeja       232
RD Gaikwad      204
MS Dhoni        200
SM Curran       186
KM Jadhav        62
N Jagadeesan     33
M Vijay          32
Imran Tahir      13
SN Thakur        12
DJ Bravo          7
DL Chahar         7
Name: batsman_run, dtype: int64

In [448]:
df[df['BattingTeam'] == team].groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().index.tolist()

['F du Plessis', 'AT Rayudu', 'SR Watson', 'RA Jadeja', 'RD Gaikwad']

In [444]:
df[df['BattingTeam'] == team].groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().values.tolist()

[449, 359, 299, 232, 204]

### top 5 bowlers

In [447]:
df[df['BattingTeam'] != team].groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False)

bowler
SM Curran       14
DL Chahar       12
L Ngidi         10
SN Thakur       10
DJ Bravo         7
PP Chawla        7
RA Jadeja        6
KV Sharma        5
MJ Santner       2
Imran Tahir      1
JR Hazlewood     1
Monu Kumar       0
Name: isWicketDelivery, dtype: int64

In [445]:
df[df['BattingTeam'] != team].groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().index.tolist()

['SM Curran', 'DL Chahar', 'L Ngidi', 'SN Thakur', 'DJ Bravo']

In [446]:
df[df['BattingTeam'] != team].groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().values.tolist()

[14, 12, 10, 10, 7]

### matches won

In [449]:
df[df['WinningTeam'] == team]['ID'].unique().shape[0]

6

### matches draw

In [450]:
df[df['WinningTeam'].isnull()]['ID'].unique().shape[0]

0

### matches loss

In [451]:
# loss = total - won - draw

# team vs team wise

## overall analysis

In [140]:
team1 = 'Chennai Super Kings'
team2 = 'Mumbai Indians'

In [141]:
df = ball_with_match[((ball_with_match['Team1'] == team1) & (ball_with_match['Team2'] == team2)) | ((ball_with_match['Team1'] == team2) & (ball_with_match['Team2'] == team1))]

In [142]:
df

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
3679,1304105,1,0,1,RD Gaikwad,DR Sams,DP Conway,NaN,1,0,...,N,Mumbai Indians,Wickets,5.0,NaN,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney
3680,1304105,1,0,2,DP Conway,DR Sams,RD Gaikwad,NaN,0,0,...,N,Mumbai Indians,Wickets,5.0,NaN,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney
3681,1304105,1,0,3,MM Ali,DR Sams,RD Gaikwad,NaN,0,0,...,N,Mumbai Indians,Wickets,5.0,NaN,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney
3682,1304105,1,0,4,MM Ali,DR Sams,RD Gaikwad,wides,0,1,...,N,Mumbai Indians,Wickets,5.0,NaN,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney
3683,1304105,1,0,5,MM Ali,DR Sams,RD Gaikwad,NaN,0,0,...,N,Mumbai Indians,Wickets,5.0,NaN,DR Sams,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'RV Utha...","['Ishan Kishan', 'RG Sharma', 'DR Sams', 'Tila...",Chirra Ravikanthreddy,CB Gaffaney
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224325,335989,2,19,3,AM Nayar,Joginder Sharma,A Nehra,noballs,1,1,...,N,Chennai Super Kings,Runs,6.0,NaN,ML Hayden,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Ra...","['L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'S...",DJ Harper,GA Pratapkumar
224326,335989,2,19,4,A Nehra,Joginder Sharma,AM Nayar,NaN,0,0,...,N,Chennai Super Kings,Runs,6.0,NaN,ML Hayden,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Ra...","['L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'S...",DJ Harper,GA Pratapkumar
224327,335989,2,19,5,A Nehra,Joginder Sharma,AM Nayar,NaN,1,0,...,N,Chennai Super Kings,Runs,6.0,NaN,ML Hayden,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Ra...","['L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'S...",DJ Harper,GA Pratapkumar
224328,335989,2,19,6,AM Nayar,Joginder Sharma,A Nehra,NaN,0,0,...,N,Chennai Super Kings,Runs,6.0,NaN,ML Hayden,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Ra...","['L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'S...",DJ Harper,GA Pratapkumar
224329,335989,2,19,7,AM Nayar,Joginder Sharma,A Nehra,NaN,1,0,...,N,Chennai Super Kings,Runs,6.0,NaN,ML Hayden,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Ra...","['L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'S...",DJ Harper,GA Pratapkumar

### select teams per team

In [249]:
team = 'Chennai Super Kings'

In [250]:
d = ball_with_match[(ball_with_match['Team1'] == team1) | (ball_with_match['Team2'] == team1)]

In [251]:
d.head(1)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
1444,1304114,1,0,1,RD Gaikwad,TA Boult,DP Conway,NaN,2,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan

In [260]:
sorted(d[d['BattingTeam']!=team]['BattingTeam'].sort_values().unique())

['Deccan Chargers',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [261]:
l = []
for i in sorted(d[d['BattingTeam']!=team]['BattingTeam'].sort_values().unique()):
    if i != team:
        l.append(i)

In [262]:
l

['Deccan Chargers',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Pune Warriors',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

### matches played

In [35]:
df['ID'].unique().size

34

### total super over played

In [39]:
df[df['SuperOver'] == 'Y']['ID'].unique().size

0

In [40]:
df[df['SuperOver'] == 'Y']

Empty DataFrame
Columns: [ID, innings, overs, ballnumber, batter, bowler, non-striker, extra_type, batsman_run, extras_run, total_run, non_boundary, isWicketDelivery, player_out, kind, fielders_involved, BattingTeam, City, Date, Season, MatchNumber, Team1, Team2, Venue, TossWinner, TossDecision, SuperOver, WinningTeam, WonBy, Margin, method, Player_of_Match, Team1Players, Team2Players, Umpire1, Umpire2]
Index: []

[0 rows x 36 columns]

In [42]:
df.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'City', 'Date', 'Season',
       'MatchNumber', 'Team1', 'Team2', 'Venue', 'TossWinner', 'TossDecision',
       'SuperOver', 'WinningTeam', 'WonBy', 'Margin', 'method',
       'Player_of_Match', 'Team1Players', 'Team2Players', 'Umpire1',
       'Umpire2'],
      dtype='object')

In [44]:
df['Season'].unique().size

13

### highest runs

In [48]:
df.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).index[0][0]

'ST Jayasuriya'

In [49]:
df.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).values[0]

114

### highest wickets

In [53]:
df.groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).index[0][0]

'MM Sharma'

In [55]:
df.groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).values[0]

5

### highest score

In [57]:
min_max_df = df[(df['WonBy'] != 'NoResults') & (df['method'] != 'D/L') & (df['innings'].isin([1, 2]))]

In [58]:
temp_df = min_max_df.groupby(['ID', 'innings', 'BattingTeam'])['total_run'].sum().reset_index()

In [62]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['BattingTeam']

'Mumbai Indians'

In [63]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['total_run']

219

### lowest score

In [66]:
temp_df.sort_values('total_run').iloc[0]['BattingTeam']

'Chennai Super Kings'

In [67]:
temp_df.sort_values('total_run').iloc[0]['total_run']

79

### top 5 batsmans

In [69]:
df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().index.tolist()

['SK Raina', 'RG Sharma', 'MS Dhoni', 'AT Rayudu', 'KA Pollard']

In [70]:
df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().values.tolist()

[710, 679, 653, 626, 583]

### top 5 bowlers

In [73]:
df.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().index.tolist()

['DJ Bravo', 'SL Malinga', 'Harbhajan Singh', 'MM Sharma', 'RA Jadeja']

In [74]:
df.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().values.tolist()

[37, 37, 26, 16, 16]

### matches won by team1

In [76]:
df[df['WinningTeam'] == team1]['ID'].unique().shape[0]

14

### matches won by team2

In [77]:
df[df['WinningTeam'] == team2]['ID'].unique().shape[0]

20

### matches draw

In [78]:
df[df['WinningTeam'].isnull()]['ID'].unique().shape[0]

0

## season analysis

In [193]:
team1 = 'Chennai Super Kings'
team2 = 'Gujarat Titans'
season = 2022

In [196]:
df = ball_with_match[(((ball_with_match['Team1'] == team1) & (ball_with_match['Team2'] == team2)) | ((ball_with_match['Team1'] == team2) & (ball_with_match['Team2'] == team1))) & (ball_with_match['Season'] == int(season))].copy()

In [197]:
df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
2932,1304108,1,0,1,RD Gaikwad,Mohammed Shami,DP Conway,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
2933,1304108,1,0,2,RD Gaikwad,Mohammed Shami,DP Conway,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
2934,1304108,1,0,3,RD Gaikwad,Mohammed Shami,DP Conway,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
2935,1304108,1,0,4,RD Gaikwad,Mohammed Shami,DP Conway,NaN,1,0,...,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma
2936,1304108,1,0,5,DP Conway,Mohammed Shami,RD Gaikwad,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,WP Saha,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",R Pandit,VK Sharma

### select teams per team & season

In [263]:
team = 'Chennai Super Kings'
season = 2022

In [264]:
d = ball_with_match[(ball_with_match['Season'] == int(season)) & ((ball_with_match['Team1'] == team) | (ball_with_match['Team2'] == team))]

In [265]:
d.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
1444,1304114,1,0,1,RD Gaikwad,TA Boult,DP Conway,NaN,2,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
1445,1304114,1,0,2,RD Gaikwad,TA Boult,DP Conway,NaN,0,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
1446,1304114,1,0,3,RD Gaikwad,TA Boult,DP Conway,NaN,0,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
1447,1304114,1,0,4,RD Gaikwad,TA Boult,DP Conway,NaN,0,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
1448,1304114,1,0,5,RD Gaikwad,TA Boult,DP Conway,NaN,0,0,...,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan

In [272]:
sorted(d[d['BattingTeam']!=team]['BattingTeam'].sort_values().unique())

['Delhi Capitals',
 'Gujarat Titans',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [273]:
l = []
for i in sorted(d[d['BattingTeam']!=team]['BattingTeam'].sort_values().unique()):
    if i != team:
        l.append(i)

In [274]:
l

['Delhi Capitals',
 'Gujarat Titans',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

### matches played

In [91]:
df['ID'].unique().size

2

### total super over played

In [92]:
df[df['SuperOver'] == 'Y']['ID'].unique().size

0

### highest runs

In [95]:
df.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).index[0][0]

'Tilak Varma'

In [96]:
df.groupby(['batter', 'ID'])['batsman_run'].sum().sort_values(ascending=False).head(1).values[0]

51

### highest wickets

In [99]:
df.groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).index[0][0]

'DR Sams'

In [100]:
df.groupby(['bowler', 'ID'])['isWicketDelivery'].sum().sort_values(ascending=False).head(1).values[0]

4

### highest score

In [101]:
min_max_df = df[(df['WonBy'] != 'NoResults') & (df['method'] != 'D/L') & (df['innings'].isin([1, 2]))]

In [102]:
temp_df = min_max_df.groupby(['ID', 'innings', 'BattingTeam'])['total_run'].sum().reset_index()

In [103]:
temp_df

        ID  innings          BattingTeam  total_run
0  1304079        1       Mumbai Indians        155
1  1304079        2  Chennai Super Kings        156
2  1304105        1  Chennai Super Kings         97
3  1304105        2       Mumbai Indians        103

In [106]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['BattingTeam']

'Chennai Super Kings'

In [107]:
temp_df.sort_values('total_run', ascending=False).iloc[0]['total_run']

156

### lowest score

In [108]:
temp_df.sort_values('total_run').iloc[0]['BattingTeam']

'Chennai Super Kings'

In [109]:
temp_df.sort_values('total_run').iloc[0]['total_run']

97

### team1 players

In [135]:
sorted(set(df[df['BattingTeam'] == team1]['batter'].unique().tolist() + df[df['BattingTeam'] != team1]['bowler'].unique().tolist()))

['AT Rayudu',
 'D Pretorius',
 'DJ Bravo',
 'DP Conway',
 'M Theekshana',
 'MJ Santner',
 'MM Ali',
 'MS Dhoni',
 'Mukesh Choudhary',
 'RA Jadeja',
 'RD Gaikwad',
 'RV Uthappa',
 'S Dube',
 'Simarjeet Singh']

### team2 players

In [136]:
sorted(set(df[df['BattingTeam'] == team2]['batter'].unique().tolist() + df[df['BattingTeam'] != team2]['bowler'].unique().tolist()))

['D Brevis',
 'DR Sams',
 'HR Shokeen',
 'Ishan Kishan',
 'JD Unadkat',
 'JJ Bumrah',
 'K Kartikeya',
 'KA Pollard',
 'RG Sharma',
 'RP Meredith',
 'Ramandeep Singh',
 'SA Yadav',
 'T Stubbs',
 'TH David',
 'Tilak Varma']

### top 5 batsmans

In [111]:
df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().index.tolist()

['Tilak Varma', 'MS Dhoni', 'AT Rayudu', 'HR Shokeen', 'SA Yadav']

In [112]:
df.groupby('batter')['batsman_run'].sum().sort_values(ascending=False).head().values.tolist()

[85, 64, 50, 43, 32]

### top 5 bowlers

In [113]:
df.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().index.tolist()

['DR Sams', 'Mukesh Choudhary', 'RP Meredith', 'DJ Bravo', 'JD Unadkat']

In [114]:
df.groupby('bowler')['isWicketDelivery'].sum().sort_values(ascending=False).head().values.tolist()

[7, 6, 4, 2, 2]

### matches won by team1

In [129]:
df[df['WinningTeam'] == team1]['ID'].unique().size

1

In [127]:
df[df['WinningTeam'] == team1]['WinningTeam'].unique()[0]

'Chennai Super Kings'

### matches won by team2

In [118]:
df[df['WinningTeam'] == team2]['ID'].unique().shape[0]

1

In [131]:
df[df['WinningTeam'] == team2]['WinningTeam'].unique()[0]

'Mumbai Indians'

### matches draw

In [120]:
df[df['WinningTeam'].isnull()]['ID'].unique().shape[0]

0

# batsman wise

## overall analysis

In [54]:
batsman = 'V Kohli'

In [55]:
df = ball_with_match[(ball_with_match['batter']==batsman) & ball_with_match['innings'].isin([1,2])]

In [56]:
df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowler_run,isBowlerWicket
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,0,0
234,1312199,1,0,2,V Kohli,TA Boult,F du Plessis,NaN,1,0,...,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,1,0
236,1312199,1,0,4,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,0,0
237,1312199,1,0,5,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,0,0
238,1312199,1,0,6,V Kohli,TA Boult,F du Plessis,NaN,6,0,...,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,6,0

### batsman per all seasons

In [57]:
sorted(ball_with_match['batter'].unique())

['A Ashish Reddy',
 'A Badoni',
 'A Chandila',
 'A Chopra',
 'A Choudhary',
 'A Dananjaya',
 'A Flintoff',
 'A Kumble',
 'A Manohar',
 'A Mishra',
 'A Mithun',
 'A Mukund',
 'A Nehra',
 'A Nortje',
 'A Singh',
 'A Symonds',
 'A Tomar',
 'A Uniyal',
 'A Zampa',
 'AA Bilakhia',
 'AA Chavan',
 'AA Jhunjhunwala',
 'AA Noffke',
 'AB Agarkar',
 'AB Barath',
 'AB Dinda',
 'AB McDonald',
 'AB de Villiers',
 'AC Blizzard',
 'AC Gilchrist',
 'AC Thomas',
 'AC Voges',
 'AD Hales',
 'AD Mascarenhas',
 'AD Mathews',
 'AD Nath',
 'AD Russell',
 'AF Milne',
 'AG Murtaza',
 'AG Paunikar',
 'AJ Finch',
 'AJ Turner',
 'AJ Tye',
 'AK Markram',
 'AL Menaria',
 'AM Nayar',
 'AM Rahane',
 'AN Ahmed',
 'AN Ghosh',
 'AP Dole',
 'AP Majumdar',
 'AP Tare',
 'AR Bawne',
 'AR Patel',
 'AS Joseph',
 'AS Rajpoot',
 'AS Raut',
 'AS Roy',
 'AS Yadav',
 'AT Carey',
 'AT Rayudu',
 'AUK Pathan',
 'Abdul Samad',
 'Abdur Razzak',
 'Abhishek Sharma',
 'Akash Deep',
 'Aman Hakim Khan',
 'Anirudh Singh',
 'Ankit Sharma',
 'Ankit Soni',
 'Anmolpreet Singh',
 'Anuj Rawat',
 'Anureet Singh',
 'Arshdeep Singh',
 'Avesh Khan',
 'Azhar Mahmood',
 'B Akhil',
 'B Chipli',
 'B Indrajith',
 'B Kumar',
 'B Laughlin',
 'B Lee',
 'B Sai Sudharsan',
 'B Stanlake',
 'B Sumanth',
 'BA Bhatt',
 'BA Stokes',
 'BAW Mendis',
 'BB McCullum',
 'BB Samantray',
 'BB Sran',
 'BCJ Cutting',
 'BE Hendricks',
 'BJ Haddin',
 'BJ Hodge',
 'BJ Rohrer',
 'BMAJ Mendis',
 'BR Dunk',
 'Basil Thampi',
 'Bipul Sharma',
 'C Madan',
 'C Munro',
 'C Nanda',
 'C Sakariya',
 'C de Grandhomme',
 'CA Ingram',
 'CA Lynn',
 'CA Pujara',
 'CH Gayle',
 'CH Morris',
 'CJ Anderson',
 'CJ Ferguson',
 'CJ Jordan',
 'CJ McKay',
 'CK Kapugedera',
 'CK Langeveldt',
 'CL White',
 'CM Gautam',
 'CR Brathwaite',
 'CR Woakes',
 'CRD Fernando',
 'CV Varun',
 'D Brevis',
 'D Kalyankrishna',
 'D Padikkal',
 'D Pretorius',
 'D Salunkhe',
 'D Wiese',
 'D du Preez',
 'DA Miller',
 'DA Warner',
 'DAJ Bracewell',
 'DB Das',
 'DB Ravi Teja',
 'DE Bollinger',
 'DH Yagnik',
 'DJ Bravo',
 'DJ Harris',
 'DJ Hooda',
 'DJ Hussey',
 'DJ Jacobs',
 'DJ Malan',
 'DJ Mitchell',
 'DJ Muthuswami',
 'DJ Thornely',
 'DJ Willey',
 'DJG Sammy',
 'DJM Short',
 'DL Chahar',
 'DL Vettori',
 'DM Bravo',
 'DNT Zoysa',
 'DP Conway',
 'DP Nannes',
 'DP Vijaykumar',
 'DPMD Jayawardene',
 'DR Martyn',
 'DR Sams',
 'DR Shorey',
 'DR Smith',
 'DS Kulkarni',
 'DS Lehmann',
 'DT Christian',
 'DT Patil',
 'DW Steyn',
 'E Lewis',
 'EJG Morgan',
 'ER Dwivedi',
 'F Behardien',
 'F du Plessis',
 'FA Allen',
 'FH Edwards',
 'FY Fazal',
 'Fazalhaq Farooqi',
 'G Gambhir',
 'GB Hogg',
 'GC Smith',
 'GC Viljoen',
 'GD McGrath',
 'GD Phillips',
 'GH Vihari',
 'GHS Garton',
 'GJ Bailey',
 'GJ Maxwell',
 'GR Napier',
 'Gurkeerat Singh',
 'H Das',
 'H Klaasen',
 'HE van der Dussen',
 'HF Gurney',
 'HH Gibbs',
 'HH Pandya',
 'HM Amla',
 'HR Shokeen',
 'HV Patel',
 'Harbhajan Singh',
 'Harmeet Singh',
 'Harpreet Brar',
 'Harpreet Singh',
 'Harshit Rana',
 'I Malhotra',
 'I Sharma',
 'I Udana',
 'IC Pandey',
 'IK Pathan',
 'IR Jaggi',
 'IS Sodhi',
 'Imran Tahir',
 'Iqbal Abdulla',
 'Ishan Kishan',
 'J Arunkumar',
 'J Botha',
 'J Suchith',
 'J Syed Mohammad',
 'J Theron',
 'J Yadav',
 'JA Morkel',
 'JA Richardson',
 'JC Archer',
 'JC Buttler',
 'JD Ryder',
 'JD Unadkat',
 'JDP Oram',
 'JDS Neesham',
 'JE Taylor',
 'JEC Franklin',
 'JH Kallis',
 'JJ Bumrah',
 'JJ Roy',
 'JJ van der Wath',
 'JL Denly',
 'JL Pattinson',
 'JM Bairstow',
 'JM Kemp',
 'JM Sharma',
 'JO Holder',
 'JP Duminy',
 'JP Faulkner',
 'JPR Scantlebury-Searles',
 'JR Hazlewood',
 'JR Hopes',
 'JR Philippe',
 'Jaskaran Singh',
 'Joginder Sharma',
 'K Goel',
 'K Gowtham',
 'K Kartikeya',
 'K Rabada',
 'K Upadhyay',
 'K Yadav',
 'KA Jamieson',
 'KA Pollard',
 'KAJ Roach',
 'KB Arun Karthik',
 'KC Cariappa',
 'KC Sangakkara',
 'KD Karthik',
 'KH Pandya',
 'KJ Abbott',
 'KK Ahmed',
 'KK Cooper',
 'KK Nair',
 'KL Nagarkoti',
 'KL Rahul',
 'KM Jadhav',
 'KMA Paul',
 'KMDN Kulasekara',
 'KP Appanna',
 'KP Pietersen',
 'KR Sen',
 'KS Bharat',
 'KS Sharma',
 'KS Williamson',
 'KV Sharma',
 'KW Richardson',
 'Kamran Akmal',
 'Kamran Khan',
 'Karanveer Singh',
 'Kartik Tyagi',
 'Kuldeep Yadav',
 'L Ablish',
 'L Balaji',
 'L Ronchi',
 'LA Carseldine',
 'LA Pomersbach',
 'LE Plunkett',
 'LH Ferguson',
 'LJ Wright',
 'LMP Simmons',
 'LPC Silva',
 'LR Shukla',
 'LRPL Taylor',
 'LS Livingstone',
 'Lalit Yadav',
 'M Ashwin',
 'M Jansen',
 'M Kaif',
 'M Kartik',
 'M Klinger',
 'M Manhas',
 'M Markande',
 'M Morkel',
 'M Muralitharan',
 'M Ntini',
 'M Prasidh Krishna',
 'M Rawat',
 'M Shahrukh Khan',
 'M Theekshana',
 'M Vijay',
 'M Vohra',
 'M de Lange',
 'MA Agarwal',
 'MA Khote',
 'MA Starc',
 'MA Wood',
 'MC Henriques',
 'MC Juneja',
 'MD Mishra',
 'MDKJ Perera',
 'MEK Hussey',
 'MF Maharoof',
 'MG Johnson',
 'MJ Clarke',
 'MJ Guptill',
 'MJ Lumb',
 'MJ McClenaghan',
 'MJ Santner',
 'MK Lomror',
 'MK Pandey',
 'MK Tiwary',
 'ML Hayden',
 'MM Ali',
 'MM Patel',
 'MM Sharma',
 'MN Samuels',
 'MN van Wyk',
 'MP Stoinis',
 'MR Marsh',
 'MS Bisla',
 'MS Dhoni',
 'MS Gony',
 'MS Wade',
 'MV Boucher',
 'Mandeep Singh',
 'Mashrafe Mortaza',
 'Misbah-ul-Haq',
 'Mohammad Ashraful',
 'Mohammad Asif',
 'Mohammad Hafeez',
 'Mohammad Nabi',
 'Mohammed Shami',
 'Mohammed Siraj',
 'Mohsin Khan',
 'Mujeeb Ur Rahman',
 'Mukesh Choudhary',
 'Mustafizur Rahman',
 'N Jagadeesan',
 'N Pooran',
 'N Rana',
 'N Saini',
 'ND Doshi',
 'NJ Maddinson',
 'NJ Rimmington',
 'NK Patel',
 'NL McCullum',
 'NLTC Perera',
 'NM Coulter-Nile',
 'NS Naik',
 'NT Ellis',
 'NV Ojha',
 'Navdeep Saini',
 'OA Shah',
 'OC McCoy',
 'OF Smith',
 'P Awana',
 'P Chopra',
 'P Dogra',
 'P Dubey',
 'P Kumar',
 'P Negi',
 'P Parameswaran',
 'P Ray Barman',
 'P Sahu',
 'P Simran Singh',
 'PA Patel',
 'PA Reddy',
 'PBB Rajapaksa',
 'PC Valthaty',
 'PD Collingwood',
 'PJ Cummins',
 'PJ Sangwan',
 'PK Garg',
 'PM Sarvesh Kumar',
 'PN Mankad',
 'PP Chawla',
 'PP Ojha',
 'PP Shaw',
 'PR Shah',
 'PSP Handscomb',
 'PV Tambe',
 'PVD Chameera',
 'PWH de Silva',
 'Pankaj Singh',
 'Parvez Rasool',
 'Q de Kock',
 'R Ashwin',
 'R Bhatia',
 'R Bishnoi',
 'R Dhawan',
 'R Dravid',
 'R McLaren',
 'R Ninan',
 'R Parag',
 'R Powell',
 'R Rampaul',
 'R Sanjay Yadav',
 'R Sathish',
 'R Sharma',
 'R Shepherd',
 'R Shukla',
 'R Tewatia',
 'R Vinay Kumar',
 'RA Bawa',
 'RA Jadeja',
 'RA Tripathi',
 'RD Chahar',
 'RD Gaikwad',
 'RE Levi',
 'RE van der Merwe',
 'RG More',
 'RG Sharma',
 'RJ Harris',
 'RJ Peterson',
 'RJ Quiney',
 'RK Bhui',
 'RK Singh',
 'RM Patidar',
 'RN ten Doeschate',
 'RP Meredith',
 'RP Singh',
 'RR Bhatkal',
 'RR Pant',
 'RR Powar',
 'RR Raje',
 'RR Rossouw',
 'RR Sarwan',
 'RS Bopara',
 'RS Gavaskar',
 'RS Sodhi',
 'RT Ponting',
 'RV Gomez',
 'RV Patel',
 'RV Uthappa',
 'Ramandeep Singh',
 'Rashid Khan',
 'Rasikh Salam',
 'Ravi Bishnoi',
 'S Anirudha',
 'S Aravind',
 'S Badree',
 'S Badrinath',
 'S Chanderpaul',
 'S Dhawan',
 'S Dube',
 'S Gopal',
 'S Kaul',
 'S Kaushik',
 'S Ladda',
 'S Lamichhane',
 'S Nadeem',
 'S Narwal',
 'S Rana',
 'S Randiv',
 'S Sohal',
 'S Sreesanth',
 'S Sriram',
 'S Tyagi',
 'S Vidyut',
 'SA Abbott',
 'SA Asnodkar',
 'SA Yadav',
 'SB Bangar',
 'SB Jakati',
 'SB Joshi',
 'SB Styris',
 'SB Wagh',
 'SC Ganguly',
 'SD Chitnis',
 'SD Lad',
 'SE Bond',
 'SE Marsh',
 'SE Rutherford',
 'SJ Srivastava',
 'SK Raina',
 'SK Trivedi',
 'SK Warne',
 'SL Malinga',
 'SM Curran',
 'SM Harwood',
 'SM Katich',
 'SM Pollock',
 'SMSM Senanayake',
 'SN Khan',
 'SN Thakur',
 'SO Hetmyer',
 'SP Fleming',
 'SP Goswami',
 'SP Jackson',
 'SP Narine',
 'SPD Smith',
 'SR Tendulkar',
 'SR Watson',
 'SS Cottrell',
 'SS Iyer',
 'SS Prabhudessai',
 'SS Shaikh',
 'SS Tiwary',
 'ST Jayasuriya',
 'STR Binny',
 'SV Samson',
 'SW Billings',
 'SW Tait',
 'Sachin Baby',
 'Salman Butt',
 'Sandeep Sharma',
 'Shahbaz Ahmed',
 'Shahid Afridi',
 'Shakib Al Hasan',
 'Shashank Singh',
 'Shivam Mavi',
 'Shivam Sharma',
 'Shoaib Ahmed',
 'Shoaib Akhtar',
 'Shoaib Malik',
 'Shubman Gill',
 'Simarjeet Singh',
 'Sohail Tanvir',
 'Sunny Gupta',
 'Sunny Singh',
 'Swapnil Singh',
 'T Banton',
 'T Henderson',
 'T Kohli',
 'T Natarajan',
 'T Shamsi',
 'T Stubbs',
 'T Taibu',
 'T Thushara',
 'TA Boult',
 'TD Paine',
 'TG Southee',
 'TH David',
 'TK Curran',
 'TL Seifert',
 'TL Suman',
 'TM Dilshan',
 'TM Head',
 'TM Srivastava',
 'TR Birt',
 'TS Mills',
 'TU Deshpande',
 'Tilak Varma',
 'U Kaul',
 'UA Birla',
 'UBT Chand',
 'UT Khawaja',
 'UT Yadav',
 'Umar Gul',
 'Umran Malik',
 'V Kohli',
 'V Pratap Singh',
 'V Sehwag',
 'V Shankar',
 'VG Arora',
 'VH Zol',
 'VR Aaron',
 'VR Iyer',
 'VRV Singh',
 'VS Malik',
 'VS Yeligati',
 'VVS Laxman',
 'VY Mahesh',
 'Virat Singh',
 'Vishnu Vinod',
 'W Jaffer',
 'WA Mota',
 'WD Parnell',
 'WP Saha',
 'WPUJC Vaas',
 'Washington Sundar',
 'X Thalaivan Sargunam',
 'Y Gnaneswara Rao',
 'Y Nagar',
 'Y Prithvi Raj',
 'Y Venugopal Rao',
 'YA Abdulla',
 'YBK Jaiswal',
 'YK Pathan',
 'YS Chahal',
 'YV Takawale',
 'Yash Dayal',
 'Yashpal Singh',
 'Younis Khan',
 'Yuvraj Singh',
 'Z Khan']

### total season played

In [58]:
df['Season'].unique().size

15

### total matches played

In [59]:
df['ID'].unique().size

215

### total runs

In [60]:
df['batsman_run'].sum()

6624

### total fours

In [61]:
df[df['batsman_run'] == 4].shape[0]

579

### total sixes

In [42]:
df[df['batsman_run'] == 6].shape[0]

219

### average

In [57]:
df['batsman_run'].sum() / df[df['player_out'] == batsman].shape[0]

36.59668508287293

### strike rate

In [60]:
(df['batsman_run'].sum() / df[~(df['extra_type'] == 'wides')].shape[0]) * 100

129.14798206278027

### total fifties

In [75]:
temp_df = df.groupby('ID').sum()

C:\Users\gevar\AppData\Local\Temp\ipykernel_2552\3987750926.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp_df = df.groupby('ID').sum()

In [78]:
temp_df[(temp_df['batsman_run'] >= 50 ) * (temp_df['batsman_run'] < 100)].shape[0]

44

### total centuries

In [79]:
temp_df[temp_df['batsman_run'] >= 100 ].shape[0]

5

### highest score

In [86]:
temp_df['batsman_run'].sort_values(ascending=False).values[0]

113

In [85]:
temp_df['batsman_run'].max()

113

### man of the match

In [109]:
df[df['Player_of_Match'] == batsman]['ID'].unique().size

14

In [110]:
ball_with_match[ball_with_match['Player_of_Match'] == batsman]['ID'].unique().size

14

In [106]:
a = ball_with_match[(ball_with_match['batter']=='JJ Bumrah') & ball_with_match['innings'].isin([1,2])]

In [107]:
a[a['Player_of_Match'] == 'MS Dhoni']['ID'].unique().size

0

In [108]:
ball_with_match[ball_with_match['Player_of_Match'] == 'JJ Bumrah']['ID'].unique().size

8

In [111]:
ball_with_match[ball_with_match['Player_of_Match'] == 'MS Dhoni']['ID'].unique().size

17

In [112]:
ball_with_match[ball_with_match['Player_of_Match'] == 'RG Sharma']['ID'].unique().size

18

### played in

In [270]:
sorted(df['BattingTeam'].unique())

['Royal Challengers Bangalore']

### season wise runs

In [176]:
df.groupby('Season')['batsman_run'].sum()

Season
2008    165
2009    246
2010    307
2011    557
2012    364
2013    634
2014    359
2015    505
2016    973
2017    308
2018    530
2019    464
2020    466
2021    405
2022    341
Name: batsman_run, dtype: int64

In [180]:
df.groupby('Season')['batsman_run'].sum().index.tolist()

[2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

In [182]:
df.groupby('Season')['batsman_run'].sum().values.tolist()

[165, 246, 307, 557, 364, 634, 359, 505, 973, 308, 530, 464, 466, 405, 341]

## season analysis

In [280]:
batsman = 'V Kohli'
season = 2022

In [282]:
df = ball_with_match[(ball_with_match['batter'] == batsman) & (ball_with_match['Season'] == season) & (ball_with_match['innings'].isin([1, 2]))]

In [283]:
df.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
233,1312199,1,0,1,V Kohli,TA Boult,F du Plessis,NaN,0,0,...,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
234,1312199,1,0,2,V Kohli,TA Boult,F du Plessis,NaN,1,0,...,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

### batsmen per season

In [323]:
season = 2022

In [326]:
df = ball_with_match[ball_with_match['Season'] == season]

In [329]:
sorted(df['batter'].unique())

['A Badoni',
 'A Manohar',
 'A Nortje',
 'A Tomar',
 'AD Russell',
 'AJ Finch',
 'AK Markram',
 'AM Rahane',
 'AR Patel',
 'AS Joseph',
 'AS Roy',
 'AT Rayudu',
 'Abdul Samad',
 'Abhishek Sharma',
 'Akash Deep',
 'Aman Hakim Khan',
 'Anmolpreet Singh',
 'Anuj Rawat',
 'Arshdeep Singh',
 'Avesh Khan',
 'B Indrajith',
 'B Kumar',
 'B Sai Sudharsan',
 'CJ Jordan',
 'CV Varun',
 'D Brevis',
 'D Padikkal',
 'D Pretorius',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hooda',
 'DJ Mitchell',
 'DJ Willey',
 'DP Conway',
 'DR Sams',
 'E Lewis',
 'F du Plessis',
 'FA Allen',
 'Fazalhaq Farooqi',
 'GJ Maxwell',
 'HE van der Dussen',
 'HH Pandya',
 'HR Shokeen',
 'HV Patel',
 'Harpreet Brar',
 'Harshit Rana',
 'Ishan Kishan',
 'J Suchith',
 'JC Buttler',
 'JD Unadkat',
 'JDS Neesham',
 'JJ Bumrah',
 'JM Bairstow',
 'JM Sharma',
 'JO Holder',
 'JR Hazlewood',
 'K Gowtham',
 'K Kartikeya',
 'K Rabada',
 'KA Pollard',
 'KD Karthik',
 'KH Pandya',
 'KK Ahmed',
 'KK Nair',
 'KL Rahul',
 'KR Sen',
 'KS Bharat',
 'KS Sharma',
 'KS Williamson',
 'Kartik Tyagi',
 'Kuldeep Yadav',
 'LH Ferguson',
 'LS Livingstone',
 'Lalit Yadav',
 'M Ashwin',
 'M Jansen',
 'M Prasidh Krishna',
 'M Shahrukh Khan',
 'M Theekshana',
 'M Vohra',
 'MA Agarwal',
 'MJ Santner',
 'MK Lomror',
 'MK Pandey',
 'MM Ali',
 'MP Stoinis',
 'MR Marsh',
 'MS Dhoni',
 'MS Wade',
 'Mandeep Singh',
 'Mohammed Siraj',
 'Mohsin Khan',
 'Mukesh Choudhary',
 'Mustafizur Rahman',
 'N Jagadeesan',
 'N Pooran',
 'N Rana',
 'NM Coulter-Nile',
 'NT Ellis',
 'Navdeep Saini',
 'OC McCoy',
 'OF Smith',
 'P Simran Singh',
 'PBB Rajapaksa',
 'PJ Cummins',
 'PJ Sangwan',
 'PK Garg',
 'PN Mankad',
 'PP Shaw',
 'PVD Chameera',
 'PWH de Silva',
 'Q de Kock',
 'R Ashwin',
 'R Dhawan',
 'R Parag',
 'R Powell',
 'R Sanjay Yadav',
 'R Shepherd',
 'R Tewatia',
 'RA Bawa',
 'RA Jadeja',
 'RA Tripathi',
 'RD Chahar',
 'RD Gaikwad',
 'RG Sharma',
 'RK Singh',
 'RM Patidar',
 'RP Meredith',
 'RR Pant',
 'RV Patel',
 'RV Uthappa',
 'Ramandeep Singh',
 'Rashid Khan',
 'Rasikh Salam',
 'Ravi Bishnoi',
 'S Dhawan',
 'S Dube',
 'S Gopal',
 'SA Abbott',
 'SA Yadav',
 'SE Rutherford',
 'SN Khan',
 'SN Thakur',
 'SO Hetmyer',
 'SP Jackson',
 'SP Narine',
 'SS Iyer',
 'SS Prabhudessai',
 'SV Samson',
 'SW Billings',
 'Shahbaz Ahmed',
 'Shashank Singh',
 'Shivam Mavi',
 'Shubman Gill',
 'Simarjeet Singh',
 'T Stubbs',
 'TA Boult',
 'TG Southee',
 'TH David',
 'TL Seifert',
 'TS Mills',
 'Tilak Varma',
 'UT Yadav',
 'Umran Malik',
 'V Kohli',
 'V Shankar',
 'VG Arora',
 'VR Iyer',
 'WP Saha',
 'Washington Sundar',
 'YBK Jaiswal',
 'YS Chahal',
 'Yash Dayal']

In [330]:
df['batter'].unique().size

174

In [ ]:
# for check

In [331]:
ball_with_match['batter'].unique().size

605

### total matches played

In [286]:
df['ID'].unique().size

16

### total runs

In [287]:
df['batsman_run'].sum()

341

### total fours

In [288]:
df[df['batsman_run'] == 4].shape[0]

32

### total sixes

In [289]:
df[df['batsman_run'] == 6].shape[0]

8

### average

In [290]:
total_out = df[df['player_out'] == batsman].shape[0]

In [293]:
round(df['batsman_run'].sum() / total_out, 2)

24.36

### strike rate

In [294]:
total_balls_played = df[~(df['extra_type'] == 'wides')].shape[0]

In [296]:
round((df['batsman_run'].sum() / total_balls_played) * 100, 2)

115.99

### total fifties

In [297]:
temp_df = df.groupby('ID').sum()

C:\Users\gevar\AppData\Local\Temp\ipykernel_2552\3987750926.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp_df = df.groupby('ID').sum()

In [298]:
temp_df[(temp_df['batsman_run'] >= 50) * (temp_df['batsman_run'] < 100)].shape[0]

2

### total centuries

In [300]:
temp_df[temp_df['batsman_run'] >= 100].shape[0]

0

### highest score

In [301]:
temp_df['batsman_run'].sort_values(ascending=False).values[0]

73

### total mom

In [302]:
ball_with_match[ball_with_match['Player_of_Match'] == batsman]['ID'].unique().size

14

### playing in

In [320]:
df['BattingTeam'].unique()[0]

'Royal Challengers Bangalore'

### score against all teams

In [317]:
batting_team = df['BattingTeam'].unique()[0]

In [318]:
batting_team

'Royal Challengers Bangalore'

In [311]:
teams = sorted(set(df[df['Team1'] != batting_team]['Team1'].tolist() + df[df['Team2'] != batting_team]['Team2'].tolist()))

In [312]:
teams

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Punjab Kings',
 'Rajasthan Royals',
 'Sunrisers Hyderabad']

In [313]:
runs = []
for i in teams:
    temp_df = df[(df['Team1'] == i) | (df['Team2'] == i)]
    sum = temp_df.groupby('batter')['batsman_run'].sum().values[0]
    runs.append(sum)

In [314]:
runs

[31, 12, 131, 12, 25, 48, 61, 21, 0]

### match wise runs

In [305]:
df.groupby('ID')['batsman_run'].sum()

ID
1304049    41
1304052    12
1304059     5
1304064    48
1304068     1
1304073    12
1304077     0
1304082     0
1304085     9
1304089    58
1304095    30
1304100     0
1304106    20
1304113    73
1312198    25
1312199     7
Name: batsman_run, dtype: int64

In [306]:
range(1, len(df.groupby('ID')['batsman_run'].sum()) + 1)

range(1, 17)

In [308]:
df.groupby('ID')['batsman_run'].sum().values.tolist()

[41, 12, 5, 48, 1, 12, 0, 0, 9, 58, 30, 0, 20, 73, 25, 7]

# bowler wise

In [460]:
ball_with_match.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowler_run,isBowlerWicket
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1,0
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0

In [461]:
def bowlerRun(x):
    if x[0] in ['penalty', 'legbyes', 'byes']:
        return 0
    else:
        return x[1]
    
ball_with_match['bowler_run'] = ball_with_match[['extra_type', 'total_run']].apply(bowlerRun, axis=1)

In [462]:
def bowlerWicket(x):
    if x[0] in ['caught', 'caught and bowled', 'bowled', 'stumped', 'lbw', 'hit wicket']:
        return x[1]
    else:
        return 0
    
ball_with_match['isBowlerWicket'] = ball_with_match[['kind', 'isWicketDelivery']].apply(bowlerWicket, axis=1)

In [463]:
ball_with_match.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowler_run,isBowlerWicket
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1,0
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0

In [469]:
ball_with_match.to_csv('ball_with_match_cleaned.csv', index=False)

## overall analysis

In [23]:
bowler = 'YS Chahal'

In [24]:
df = ball_with_match[ball_with_match['bowler'] == bowler]

In [25]:
df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowler_run,isBowlerWicket
153,1312200,2,5,1,Shubman Gill,YS Chahal,HH Pandya,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
154,1312200,2,5,2,Shubman Gill,YS Chahal,HH Pandya,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
155,1312200,2,5,3,Shubman Gill,YS Chahal,HH Pandya,NaN,1,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1,0
156,1312200,2,5,4,HH Pandya,YS Chahal,Shubman Gill,NaN,0,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,0,0
157,1312200,2,5,5,HH Pandya,YS Chahal,Shubman Gill,NaN,1,0,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1,0

### bowlers per all seasons

In [26]:
sorted(ball_with_match['bowler'].unique())

['A Ashish Reddy',
 'A Badoni',
 'A Chandila',
 'A Choudhary',
 'A Dananjaya',
 'A Flintoff',
 'A Kumble',
 'A Mishra',
 'A Mithun',
 'A Nehra',
 'A Nel',
 'A Nortje',
 'A Singh',
 'A Symonds',
 'A Uniyal',
 'A Zampa',
 'AA Chavan',
 'AA Jhunjhunwala',
 'AA Kazi',
 'AA Noffke',
 'AB Agarkar',
 'AB Dinda',
 'AB McDonald',
 'AC Gilchrist',
 'AC Thomas',
 'AC Voges',
 'AD Mascarenhas',
 'AD Mathews',
 'AD Russell',
 'AF Milne',
 'AG Murtaza',
 'AJ Finch',
 'AJ Tye',
 'AK Markram',
 'AL Menaria',
 'AM Nayar',
 'AM Rahane',
 'AM Salvi',
 'AN Ahmed',
 'AP Dole',
 'AR Patel',
 'AS Joseph',
 'AS Rajpoot',
 'AS Raut',
 'AS Roy',
 'AU Rashid',
 'AUK Pathan',
 'Abdul Samad',
 'Abdur Razzak',
 'Abhishek Sharma',
 'Akash Deep',
 'Akash Singh',
 'Aman Hakim Khan',
 'Anand Rajan',
 'Ankit Sharma',
 'Ankit Soni',
 'Anureet Singh',
 'Arshdeep Singh',
 'Avesh Khan',
 'Azhar Mahmood',
 'B Akhil',
 'B Chipli',
 'B Geeves',
 'B Kumar',
 'B Laughlin',
 'B Lee',
 'B Stanlake',
 'BA Bhatt',
 'BA Stokes',
 'BAW Mendis',
 'BB Sran',
 'BCJ Cutting',
 'BE Hendricks',
 'BJ Hodge',
 'BJ Rohrer',
 'BMAJ Mendis',
 'BW Hilfenhaus',
 'Basil Thampi',
 'Bipul Sharma',
 'C Ganapathy',
 'C Munro',
 'C Nanda',
 'C Sakariya',
 'C de Grandhomme',
 'CH Gayle',
 'CH Morris',
 'CJ Anderson',
 'CJ Dala',
 'CJ Green',
 'CJ Jordan',
 'CJ McKay',
 'CK Kapugedera',
 'CK Langeveldt',
 'CL White',
 'CR Brathwaite',
 'CR Woakes',
 'CRD Fernando',
 'CV Varun',
 'D Brevis',
 'D Kalyankrishna',
 'D Pretorius',
 'D Salunkhe',
 'D Wiese',
 'D du Preez',
 'DA Warner',
 'DAJ Bracewell',
 'DB Ravi Teja',
 'DE Bollinger',
 'DG Nalkande',
 'DJ Bravo',
 'DJ Harris',
 'DJ Hooda',
 'DJ Hussey',
 'DJ Mitchell',
 'DJ Muthuswami',
 'DJ Thornely',
 'DJ Willey',
 'DJG Sammy',
 'DJM Short',
 'DL Chahar',
 'DL Vettori',
 'DNT Zoysa',
 'DP Nannes',
 'DP Vijaykumar',
 'DR Sams',
 'DR Smith',
 'DS Kulkarni',
 'DT Christian',
 'DW Steyn',
 'F du Plessis',
 'FA Allen',
 'FH Edwards',
 'FY Fazal',
 'Fazalhaq Farooqi',
 'GB Hogg',
 'GC Viljoen',
 'GD McGrath',
 'GD Phillips',
 'GH Vihari',
 'GHS Garton',
 'GJ Maxwell',
 'GR Napier',
 'GS Sandhu',
 'Gagandeep Singh',
 'Gurkeerat Singh',
 'HF Gurney',
 'HH Pandya',
 'HR Shokeen',
 'HV Patel',
 'Harbhajan Singh',
 'Harmeet Singh',
 'Harpreet Brar',
 'Harshit Rana',
 'I Malhotra',
 'I Sharma',
 'I Udana',
 'IC Pandey',
 'IC Porel',
 'IK Pathan',
 'IS Sodhi',
 'Imran Tahir',
 'Iqbal Abdulla',
 'J Botha',
 'J Suchith',
 'J Syed Mohammad',
 'J Theron',
 'J Yadav',
 'JA Morkel',
 'JA Richardson',
 'JC Archer',
 'JD Ryder',
 'JD Unadkat',
 'JDP Oram',
 'JDS Neesham',
 'JE Taylor',
 'JEC Franklin',
 'JH Kallis',
 'JJ Bumrah',
 'JJ van der Wath',
 'JL Pattinson',
 'JM Kemp',
 'JO Holder',
 'JP Behrendorff',
 'JP Duminy',
 'JP Faulkner',
 'JPR Scantlebury-Searles',
 'JR Hazlewood',
 'JR Hopes',
 'JW Hastings',
 'Jalaj S Saxena',
 'Jaskaran Singh',
 'Joginder Sharma',
 'K Goel',
 'K Gowtham',
 'K Kartikeya',
 'K Khejroliya',
 'K Rabada',
 'K Santokie',
 'K Upadhyay',
 'K Yadav',
 'KA Jamieson',
 'KA Pollard',
 'KAJ Roach',
 'KC Cariappa',
 'KH Pandya',
 'KJ Abbott',
 'KK Ahmed',
 'KK Cooper',
 'KL Nagarkoti',
 'KM Asif',
 'KMA Paul',
 'KMDN Kulasekara',
 'KP Appanna',
 'KP Pietersen',
 'KR Sen',
 'KS Williamson',
 'KV Sharma',
 'KW Richardson',
 'Kamran Khan',
 'Karanveer Singh',
 'Kartik Tyagi',
 'Kuldeep Yadav',
 'L Ablish',
 'L Balaji',
 'L Ngidi',
 'LA Carseldine',
 'LE Plunkett',
 'LH Ferguson',
 'LI Meriwala',
 'LJ Wright',
 'LMP Simmons',
 'LPC Silva',
 'LR Shukla',
 'LRPL Taylor',
 'LS Livingstone',
 'Lalit Yadav',
 'M Ashwin',
 'M Jansen',
 'M Kartik',
 'M Manhas',
 'M Markande',
 'M Morkel',
 'M Muralitharan',
 'M Ntini',
 'M Pathirana',
 'M Prasidh Krishna',
 'M Theekshana',
 'M Vijay',
 'M de Lange',
 'MA Khote',
 'MA Starc',
 'MA Wood',
 'MB Parmar',
 'MC Henriques',
 'MF Maharoof',
 'MG Johnson',
 'MG Neser',
 'MJ Clarke',
 'MJ Henry',
 'MJ McClenaghan',
 'MJ Santner',
 'MK Lomror',
 'MK Tiwary',
 'MM Ali',
 'MM Patel',
 'MM Sharma',
 'MN Samuels',
 'MP Stoinis',
 'MR Marsh',
 'MS Gony',
 'Mandeep Singh',
 'Mashrafe Mortaza',
 'Mohammad Asif',
 'Mohammad Hafeez',
 'Mohammad Nabi',
 'Mohammed Shami',
 'Mohammed Siraj',
 'Mohsin Khan',
 'Monu Kumar',
 'Mujeeb Ur Rahman',
 'Mukesh Choudhary',
 'Mustafizur Rahman',
 'N Rana',
 'NB Singh',
 'ND Doshi',
 'NJ Rimmington',
 'NL McCullum',
 'NLTC Perera',
 'NM Coulter-Nile',
 'NT Ellis',
 'Navdeep Saini',
 'O Thomas',
 'OC McCoy',
 'OF Smith',
 'P Amarnath',
 'P Awana',
 'P Dubey',
 'P Kumar',
 'P Negi',
 'P Parameswaran',
 'P Prasanth',
 'P Ray Barman',
 'P Sahu',
 'P Suyal',
 'PC Valthaty',
 'PD Collingwood',
 'PH Solanki',
 'PJ Cummins',
 'PJ Sangwan',
 'PM Sarvesh Kumar',
 'PP Chawla',
 'PP Ojha',
 'PV Tambe',
 'PVD Chameera',
 'PWH de Silva',
 'Pankaj Singh',
 'Parvez Rasool',
 'R Ashwin',
 'R Bhatia',
 'R Dhawan',
 'R McLaren',
 'R Ninan',
 'R Parag',
 'R Powell',
 'R Rampaul',
 'R Sai Kishore',
 'R Sanjay Yadav',
 'R Sathish',
 'R Sharma',
 'R Shepherd',
 'R Shukla',
 'R Tewatia',
 'R Vinay Kumar',
 'RA Jadeja',
 'RA Shaikh',
 'RA Tripathi',
 'RD Chahar',
 'RE van der Merwe',
 'RG More',
 'RG Sharma',
 'RJ Harris',
 'RJ Peterson',
 'RN ten Doeschate',
 'RP Meredith',
 'RP Singh',
 'RR Bhatkal',
 'RR Bose',
 'RR Powar',
 'RR Raje',
 'RS Bopara',
 'RS Gavaskar',
 'RV Gomez',
 'RV Patel',
 'RW Price',
 'Ramandeep Singh',
 'Rashid Khan',
 'Rasikh Salam',
 'Ravi Bishnoi',
 'S Aravind',
 'S Badree',
 'S Dhawan',
 'S Dube',
 'S Gopal',
 'S Kaul',
 'S Kaushik',
 'S Ladda',
 'S Lamichhane',
 'S Midhun',
 'S Nadeem',
 'S Narwal',
 'S Rana',
 'S Randiv',
 'S Sandeep Warrier',
 'S Sreesanth',
 'S Sriram',
 'S Tyagi',
 'S Vidyut',
 'SA Abbott',
 'SA Yadav',
 'SB Bangar',
 'SB Jakati',
 'SB Joshi',
 'SB Styris',
 'SB Wagh',
 'SC Ganguly',
 'SC Kuggeleijn',
 'SD Chitnis',
 'SE Bond',
 'SE Rutherford',
 'SJ Srivastava',
 'SK Raina',
 'SK Trivedi',
 'SK Warne',
 'SL Malinga',
 'SM Boland',
 'SM Curran',
 'SM Harwood',
 'SM Pollock',
 'SMSM Senanayake',
 'SN Khan',
 'SN Thakur',
 'SP Narine',
 'SPD Smith',
 'SR Tendulkar',
 'SR Watson',
 'SS Agarwal',
 'SS Cottrell',
 'SS Iyer',
 'SS Mundhe',
 'SS Sarkar',
 'ST Jayasuriya',
 'STR Binny',
 'SW Tait',
 'Sachin Baby',
 'Sandeep Sharma',
 'Shahbaz Ahmed',
 'Shahid Afridi',
 'Shakib Al Hasan',
 'Shashank Singh',
 'Shivam Mavi',
 'Shivam Sharma',
 'Shoaib Ahmed',
 'Shoaib Akhtar',
 'Shoaib Malik',
 'Simarjeet Singh',
 'Sohail Tanvir',
 'Sunny Gupta',
 'Swapnil Singh',
 'T Henderson',
 'T Natarajan',
 'T Shamsi',
 'T Thushara',
 'TA Boult',
 'TG Southee',
 'TK Curran',
 'TL Suman',
 'TM Dilshan',
 'TM Head',
 'TP Sudhindra',
 'TS Mills',
 'TU Deshpande',
 'Tejas Baroka',
 'Tilak Varma',
 'UT Yadav',
 'Umar Gul',
 'Umran Malik',
 'V Kohli',
 'V Pratap Singh',
 'V Sehwag',
 'V Shankar',
 'VG Arora',
 'VR Aaron',
 'VR Iyer',
 'VRV Singh',
 'VS Malik',
 'VS Yeligati',
 'VY Mahesh',
 'WA Mota',
 'WD Parnell',
 'WPUJC Vaas',
 'Washington Sundar',
 'Y Gnaneswara Rao',
 'Y Nagar',
 'Y Prithvi Raj',
 'Y Venugopal Rao',
 'YA Abdulla',
 'YBK Jaiswal',
 'YK Pathan',
 'YS Chahal',
 'Yash Dayal',
 'Yuvraj Singh',
 'Z Khan']

### total seasons played

In [27]:
df['Season'].unique().size

10

### total matches played

In [28]:
df['ID'].unique().size

130

### total wickets

In [29]:
df['isBowlerWicket'].sum()

166

### economy

In [30]:
nballs = df[~(df.extra_type.isin(['wides', 'noballs']))].shape[0]

In [31]:
runs = df['bowler_run'].sum()

In [32]:
round((runs/ nballs) * 6, 2)

7.61

### average

In [33]:
wicket = df['isBowlerWicket'].sum()

In [34]:
round(runs/wicket, 2)

21.83

### strike rate

In [35]:
round(nballs / wicket, 2)

17.2

### total fours

In [36]:
df[(df.batsman_run == 4) & (df.non_boundary == 0)].shape[0]

209

### total sixes

In [37]:
df[(df.batsman_run == 6) & (df.non_boundary == 0)].shape[0]

179

### best figure

In [38]:
bf = df.groupby('ID').sum()

C:\Users\gevar\AppData\Local\Temp\ipykernel_1220\247034310.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bf = df.groupby('ID').sum()

In [39]:
bf.head()

,innings,overs,ballnumber,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,Season,Margin,bowler_run,isBowlerWicket
ID,,,,,,,,,,,,
598029,24,276,84,34,1,35,0,0,48312,120.0,34,0
729281,25,255,91,14,4,18,0,1,50350,200.0,18,1
729287,24,252,84,17,0,17,0,2,48336,168.0,17,2
729299,24,264,84,26,0,26,0,1,48336,48.0,26,1
729305,36,180,63,17,0,17,0,1,36252,108.0,17,1

In [40]:
bf.sort_values(['isBowlerWicket', 'bowler_run'], ascending=[False, True])[['isBowlerWicket', 'bowler_run']].head(1).values

array([[ 5, 40]], dtype=int64)

### total 3+w

In [41]:
bf[(bf.isBowlerWicket >= 3)].shape[0]

15

### total mom

In [42]:
df[df.Player_of_Match == bowler].drop_duplicates('ID', keep='first').shape[0]

6

### played in

In [43]:
df[df['Team1'] != df['BattingTeam']]['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore'], dtype=object)

In [44]:
df[df['Team2'] != df['BattingTeam']]['Team2'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Mumbai Indians'], dtype=object)

In [53]:
pd.Series(df[df['Team1'] != df['BattingTeam']]['Team1'].unique().tolist() + df[df['Team2'] != df['BattingTeam']]['Team2'].unique().tolist()).unique().tolist()

['Rajasthan Royals', 'Royal Challengers Bangalore', 'Mumbai Indians']

### season wise wickets

In [449]:
df.groupby('Season')['isBowlerWicket'].sum()

Season
2008     0
2009     6
2011     8
2012    12
2013    13
2014    19
2015    11
2016     8
2017     5
2018    11
2019    15
2020     6
2021    13
2022     5
Name: isBowlerWicket, dtype: int64

In [452]:
df.groupby('Season')['isBowlerWicket'].sum().index.tolist()

[2008,
 2009,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

In [453]:
df.groupby('Season')['isBowlerWicket'].sum().values.tolist()

[0, 6, 8, 12, 13, 19, 11, 8, 5, 11, 15, 6, 13, 5]

## season analysis

In [62]:
bowler = 'RA Jadeja'
season = 2022

In [63]:
df = ball_with_match[(ball_with_match['bowler'] == bowler) & (ball_with_match['Season'] == season)]

In [64]:
df.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,bowler_run,isBowlerWicket
6049,1304095,1,6,1,F du Plessis,RA Jadeja,V Kohli,NaN,1,0,...,Runs,13.0,NaN,HV Patel,"['V Kohli', 'F du Plessis', 'GJ Maxwell', 'MK ...","['RD Gaikwad', 'DP Conway', 'RV Uthappa', 'AT ...",KN Ananthapadmanabhan,MA Gough,1,0
6050,1304095,1,6,2,V Kohli,RA Jadeja,F du Plessis,NaN,1,0,...,Runs,13.0,NaN,HV Patel,"['V Kohli', 'F du Plessis', 'GJ Maxwell', 'MK ...","['RD Gaikwad', 'DP Conway', 'RV Uthappa', 'AT ...",KN Ananthapadmanabhan,MA Gough,1,0

### bowlers per season

In [66]:
d = ball_with_match[ball_with_match['Season'] == int(season)]

In [67]:
sorted(d['bowler'].unique())

['A Badoni',
 'A Nortje',
 'AD Russell',
 'AF Milne',
 'AJ Tye',
 'AK Markram',
 'AR Patel',
 'AS Joseph',
 'AS Roy',
 'Abdul Samad',
 'Abhishek Sharma',
 'Akash Deep',
 'Aman Hakim Khan',
 'Arshdeep Singh',
 'Avesh Khan',
 'B Kumar',
 'Basil Thampi',
 'C Sakariya',
 'CJ Jordan',
 'CV Varun',
 'D Brevis',
 'D Pretorius',
 'DG Nalkande',
 'DJ Bravo',
 'DJ Hooda',
 'DJ Mitchell',
 'DJ Willey',
 'DR Sams',
 'FA Allen',
 'Fazalhaq Farooqi',
 'GJ Maxwell',
 'HH Pandya',
 'HR Shokeen',
 'HV Patel',
 'Harpreet Brar',
 'Harshit Rana',
 'J Suchith',
 'JD Unadkat',
 'JDS Neesham',
 'JJ Bumrah',
 'JO Holder',
 'JR Hazlewood',
 'K Gowtham',
 'K Kartikeya',
 'K Rabada',
 'KA Pollard',
 'KH Pandya',
 'KK Ahmed',
 'KL Nagarkoti',
 'KR Sen',
 'Kartik Tyagi',
 'Kuldeep Yadav',
 'LH Ferguson',
 'LS Livingstone',
 'Lalit Yadav',
 'M Ashwin',
 'M Jansen',
 'M Markande',
 'M Pathirana',
 'M Prasidh Krishna',
 'M Theekshana',
 'MJ Santner',
 'MK Lomror',
 'MM Ali',
 'MP Stoinis',
 'MR Marsh',
 'Mohammed Shami',
 'Mohammed Siraj',
 'Mohsin Khan',
 'Mukesh Choudhary',
 'Mustafizur Rahman',
 'N Rana',
 'NM Coulter-Nile',
 'NT Ellis',
 'Navdeep Saini',
 'OC McCoy',
 'OF Smith',
 'PH Solanki',
 'PJ Cummins',
 'PJ Sangwan',
 'PVD Chameera',
 'PWH de Silva',
 'R Ashwin',
 'R Dhawan',
 'R Parag',
 'R Powell',
 'R Sai Kishore',
 'R Sanjay Yadav',
 'R Shepherd',
 'R Tewatia',
 'RA Jadeja',
 'RD Chahar',
 'RP Meredith',
 'Ramandeep Singh',
 'Rashid Khan',
 'Rasikh Salam',
 'Ravi Bishnoi',
 'S Dube',
 'S Gopal',
 'S Kaul',
 'SA Abbott',
 'SN Thakur',
 'SP Narine',
 'SS Iyer',
 'Sandeep Sharma',
 'Shahbaz Ahmed',
 'Shashank Singh',
 'Shivam Mavi',
 'Simarjeet Singh',
 'T Natarajan',
 'TA Boult',
 'TG Southee',
 'TS Mills',
 'TU Deshpande',
 'Tilak Varma',
 'UT Yadav',
 'Umran Malik',
 'V Shankar',
 'VG Arora',
 'VR Aaron',
 'VR Iyer',
 'Washington Sundar',
 'YBK Jaiswal',
 'YS Chahal',
 'Yash Dayal']

### total matches played

In [481]:
df['ID'].unique().size

10

### total wickets

In [486]:
total_wickets = df['isBowlerWicket'].sum()

### economy

In [487]:
total_balls = df[~(df.extra_type.isin(['wides', 'noballs']))].shape[0]
total_runs = df['bowler_run'].sum()

In [488]:
round((total_runs / total_balls) * 6, 2)

7.52

### average

In [489]:
round(total_runs / total_wickets, 2)

49.6

### strike rate

In [491]:
round(total_balls / total_wickets, 2)

39.6

### total fours

In [492]:
df[(df.batsman_run == 4) & (df.non_boundary == 0)].shape[0]

14

### total sixes

In [493]:
df[(df.batsman_run == 6) & (df.non_boundary == 0)].shape[0]

11

### best figure

In [495]:
temp_df = df.groupby('ID').sum()
best_wicket = temp_df.sort_values(['isBowlerWicket', 'bowler_run'], ascending=[False, True])[['isBowlerWicket', 'bowler_run']].head(1).values

C:\Users\gevar\AppData\Local\Temp\ipykernel_2552\2606508248.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  temp_df = df.groupby('ID').sum()

In [496]:
f'{best_wicket[0][0]}/{best_wicket[0][1]}'

'3/39'

### total 3+w

In [497]:
temp_df[(temp_df.isBowlerWicket >= 3)].shape[0]

1

### total_mom

In [498]:
df[df.Player_of_Match == bowler].drop_duplicates('ID', keep='first').shape[0]

0

### wickets against all teams

In [540]:
bowling_team = df[df['Team1'] != df['BattingTeam']]['Team1'].unique()[0]

In [557]:
sorted(set(df[df['Team1'] != df['BattingTeam']]['Team1'].unique().tolist() + df[df['Team2'] != df['BattingTeam']]['Team2'].unique().tolist()))

['Chennai Super Kings']

In [541]:
teams = sorted(set(df[df['Team1'] != bowling_team]['Team1'].tolist() + df[df['Team2'] != bowling_team]['Team2'].tolist()))

In [542]:
wickets = []
for i in teams:
    temp_df = df[(df['Team1'] == i) | (df['Team2'] == i)]
    sum = temp_df['isBowlerWicket'].sum()
    wickets.append(sum)

In [543]:
wickets

[1, 0, 0, 0, 1, 3, 0]

### match wise wickets

In [544]:
matches = list(range(1, len(df.groupby('ID')['batsman_run'].sum()) + 1))

In [547]:
matches

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [551]:
match_wise_wickets = df.groupby('ID')['isBowlerWicket'].sum().values.tolist()

In [552]:
match_wise_wickets

[0, 0, 1, 0, 3, 1, 0, 0, 0, 0]